<div class="container mx-auto p-0 pt-2 ">
  <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4 mt-2">
      <app-header [title] [subtitle]="'Panel de Agregar Aliados'"></app-header>
  </header>
      <!-- ----------------------------------------------- -->
      <div class="w-full flex items-center justify-center px-4">
        <div class="flex-1 flex flex-col sm:flex-row justify-around text-center mx-2 sm:mx-4">
            <div *ngFor="let contenedor of [1, 2, 3,]; let i = index" class="contenedor mb-2 sm:mb-0"
                [class.active]="i === currentIndex">
                <div class="step-number flex items-center justify-center w-8 h-8 border rounded-full mx-auto text-base md:text-xl"
                    [ngClass]="{'text-yellow-500 border-blue-500': i === currentIndex, 'text-gray-400 border-gray-400': i !== currentIndex}">
                    {{ i + 1 }}
                </div>
                <ng-container *ngIf="i === 0">
                    <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                        class=" text-base md:text-1xl  whitespace-nowrap  overflow-hidden font-bold mt-2 truncate">
                        Información Básica
                    </h2>
                </ng-container>
                <ng-container *ngIf="i === 1">
                    <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                        class="text-base md:text-1xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
                        Información de Fanpage
                    </h2>
                </ng-container>
                <ng-container *ngIf="i === 2">
                    <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                        class=" text-base md:text-1xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
                        Logo e Imagen
                    </h2>
                </ng-container>
            </div>
        </div>
    </div>

<!-- ----------------------------------------------- -->


<form [formGroup]="aliadoForm" (ngSubmit)="addAliado()" class="space-y-6 w-full">
  <!-- Primera Sección -->
  <div *ngIf="showFirstSection" class="space-y-6 w-full">
    <!-- Contenido de la primera sección -->
    <div class="grid grid-cols-1 gap-4 w-full bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6">
      <!-- Campo Nombre -->
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label class="text-xl font-normal" for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="mt-1 block w-full px-2 py-1 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
      </div>
      <!-- Campo Correo Electrónico -->
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label class="text-xl font-normal" for="email">Correo Electrónico</label>
        <input type="text" formControlName="email" class="mt-1 block w-full px-2 py-1 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
      </div>
      <!-- Campo Contraseña -->
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2 relative">
        <label class="text-xl font-normal" for="password">Contraseña</label>
        <input [type]="hide ? 'password' : 'text'" id="contrasena" formControlName="password" class="mt-1 block w-full px-2 py-1 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
        <button type="button" class="absolute right-3 top-1/2 transform -translate-y-1/2" (click)="hide = !hide">
          <i class="fas text-cyan-500 icon-size text-lg mt-3" [ngClass]="hide ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>
    </div>
    <!-- Botón Siguiente -->
    <div class="flex justify-center h-10 mt-4">
      <button
        class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300"
        (click)="next()">
        Siguiente
      </button>
    </div>
  </div>

  <!-- Segunda Sección -->
  <div *ngIf="showSecondSection" class="space-y-6 w-full">
    <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6">
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label class="text-xl font-normal" for="descripcion">Descripción fanpage</label>
        <textarea formControlName="descripcion" class="mt-1 block w-full px-2 py-1 h-40 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 resize-none"></textarea>
      </div>
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label class="text-xl font-normal" for="id_tipo_dato">Tipo de archivo</label>
        <select id="id_tipo_dato" formControlName="id_tipo_dato" class="mt-1 block w-full px-2 py-1 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
          <option value="" disabled selected>Seleccione el tipo de dato...</option>
          <option *ngFor="let tipodato of tipoDeDato" [value]="tipodato.id">{{tipodato.nombre}}</option>
        </select>
      </div>

      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label for="fuente"></label>
        <ng-container [ngSwitch]="aliadoForm.get('id_tipo_dato').value">
          <div *ngSwitchCase="'1'">
            <label class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2" for="nombre">Link del video</label>
            <input type="text" id="fuente" formControlName="ruta_multi" placeholder="Example http://example.com"
              (change)="onFileSelecteds($event, 'ruta_multi')"
              class="p-2 h-14 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
          </div>

          <!-- <input *ngSwitchCase="'2'" type="text" id="fuente" formControlName="ruta_multi"
            class="p-2 w-full h-14 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"> -->
            <div *ngSwitchCase="'3'">
              <label class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2" for="nombre">Imagen</label>
              <input
                type="file"
                id="fuente"
                accept="image/*"
                (change)="onFileSelecteds($event, 'Imagen')"
                formControlName="Imagen"
                class="mt-1 block w-full px-2 py-1 h-40 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 resize-none"
              >
              <!-- Vista previa de la imagen -->
              <img *ngIf="imagePreview" [src]="imagePreview"
                class="mt-4 w-full h-auto object-cover border rounded-md"
                alt="Vista previa de la imagen">
            </div>

          <div *ngSwitchCase="'4'">
            <label class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2" for="nombre">PDF</label>
            <input type="file" id="fuente" formControlName="ruta_multi" accept="application/pdf"
              (change)="onFileSelecteds($event, 'ruta_multi')"
              class="p-2 h-14 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
          </div>

          <div *ngSwitchCase="'5'">
            <label class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2" for="nombre">Texto</label>
            <input type="text" id="fuente" formControlName="ruta_multi"
              (change)="onFileSelecteds($event, 'ruta_multi')"
              class="p-2 h-14 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
          </div>
        </ng-container>
      </div>
    </div>

    
    <!-- Botones Anterior y Siguiente -->
    <div class="flex justify-between">
      <button
        class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300"
        (click)="previous()">
        Anterior
      </button>
      <button
        class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300"
        (click)="next()">
        Siguiente
      </button>
    </div>
  </div>

  <!-- Tercera Sección -->
  <div *ngIf="showThirdSection" class="space-y-6 w-full">
    <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6">
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label class="text-xl font-normal" for="logo">Logo</label>
        <input
          class="mt-1 block w-full px-2 py-1 h-14 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 pr-10"
          id="logo" type="file" (change)="onFileSelecteds($event, 'logo')" formControlName="logo" accept="image/*">
        <fa-icon [icon]="faFileUpload" class="absolute right-3 top-4 mt-7 text-cyan-500 z-0 text-lg"></fa-icon>
        <img *ngIf="imagePreviewLogo" [src]="imagePreviewLogo"
          class="mt-4 preview-image border rounded-md object-cover md:text-center small-preview"
          alt="Vista previa del logo">
      </div>
      <div class="flex flex-col mb-6 items-start pl-8 pr-8 pb-2 space-y-2">
        <label class="text-xl font-normal" for="banner">Imagen</label>
        <input
          class="mt-1 block w-full px-2 py-1 h-14 border rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 pr-10"
          id="banner" type="file" accept="image/*" (change)="onFileSelecteds($event, 'urlImagen')" formControlName="urlImagen">
        <fa-icon [icon]="faFileUpload" class="absolute right-3 top-4 mt-7 text-cyan-500 z-0 text-lg"></fa-icon>
        <img *ngIf="imagePreviewBanner" [src]="imagePreviewBanner"
          class="mt-4 preview-image border rounded-md object-cover md:text-center small-preview"
          alt="Vista previa de la imagen">
      </div>
    </div>
    <!-- Botones Anterior y Crear -->
    <div class="flex justify-between">
      <button
        class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300"
        (click)="previous()">
        Anterior
      </button>
      <button type="submit"
        class="bg-sky-400 hover:bg-blue-700 text-white font-bold py-3 px-6 border border-blue-700 rounded">
        Crear Aliado
      </button>
    </div>
  </div>
</form>









