<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-timeline">
        <div *ngFor="let ruta of rutaList">
          <div *ngFor="let actividad of ruta.actividades; let i = index" class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">{{ i + 1 }}</span>
              <div class="content">
                <h3>{{ actividad.nombre }}</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
