<div class="fixed z-50 inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center p-4">
    <div class="bg-white border border-gray-300 p-6 sm:p-10 rounded w-full max-w-md md:max-w-lg lg:max-w-xl h-auto">
        <h1 class="text-start text-lg sm:text-xl font-bold mb-10">
            {{ isEditing ? 'Editar Super Admin' : 'Crear Super Admin' }}
        </h1>

        <form [formGroup]="superadminForm" (ngSubmit)="addSuperadmin()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="">
                    <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" name="nombre" required
                        pattern="^[a-zA-Z\s]+$"
                        class="mt-1 block w-full p-2 rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                    <div *ngIf="submitted && f['nombre'].invalid"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <span *ngIf="f['nombre'].errors?.['required']">Este campo es requerido *</span>
                    </div>
                </div>
                <div class="">
                    <label for="apellidos" class="block text-sm font-medium text-gray-700">Apellido</label>
                    <input type="text" id="apellido" formControlName="apellido" name="apellido" required
                        pattern="^[a-zA-Z\s]+$"
                        class="mt-1 block w-full p-2 rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                    <div *ngIf="submitted && f['apellido'].invalid"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <span *ngIf="f['apellido'].errors?.['required']">Este campo es requerido *</span>
                    </div>
                </div>
                <div class="md:col-span-2">
                    <label for="email" class="block text-sm font-medium text-gray-700">Correo</label>
                    <input type="email" id="email" name="email" formControlName="email" required email
                        class="mt-1 block w-full p-2 rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        placeholder="user@gmail.com">
                    <div *ngIf="submitted && f['email'].invalid"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <span *ngIf="f['email'].errors?.['required']">Este campo es requerido *</span>
                        <span *ngIf="f['email'].errors?.['email']">Correo no válido *</span>
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                    <div class="relative">
                        <input [type]="hide ? 'password' : 'text'" type="password" id="password"
                            formControlName="password"
                            class="mt-1 block w-full p-2 rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                        <button type="button"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5 text-gray-500 w-10"
                            (click)="hide = !hide">
                            <i *ngIf="hide" class="fa fa-eye-slash text-cyan-500 w-10"></i>
                            <i *ngIf="!hide" class="fa fa-eye text-cyan-500 w-10"></i>
                        </button>
                    </div>
                    <div *ngIf="submitted && f['password'].invalid"
                        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
                        <span *ngIf="f['password'].errors?.['required']">Este campo es requerido *</span>
                        <span *ngIf="f['password'].errors?.['minlength']">Debe tener al menos 8 caracteres *</span>
                    </div>

                </div>
            </div>

            <!-- Toggle Field -->
            <div *ngIf="isEditing">
                <div class="mt-4 block text-sm font-medium text-gray-700 ">Activar/Desactivar Usuario
                        <fa-icon [icon]="falupa" 
                        class="text-sm right-2 transform mt-2 ml-1" 
                        mat-raised-button matTooltip="Esta funcion sirve para Activar/Desactivar el usuario.Si lo desactivas no podra acceder a sus funciones y tendras que activarlo " 
                        matTooltipPosition="right"
                        style="color: #adb7c7;"></fa-icon>
                </div>
                <label class="inline-flex items-center cursor-pointer md:mt-6">
                    <input type="checkbox" class="sr-only peer" [checked]="isActive" (change)="toggleActive()"
                        formControlName="estado">
                    <div
                        class="relative w-11 h-6 bg-gray-500 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                    </div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ isActive ? 'Activo' :
                        'Inactivo' }}</span>
                </label>
            </div>

            <!-- mat-raised-button matTooltip="Noooooooo" matTooltipPosition="right"  -->




            <div class="flex flex-col md:flex-row justify-center mt-4 space-y-2 md:space-y-0 md:space-x-2">
                <button type="button" (click)="cancelarcrerSuperadmin()"
                    class="w-full md:w-auto bg-gray-500 text-white py-2 px-4 rounded">
                    Cancelar
                </button>
                <button  type="submit"
                    class="w-full md:w-auto bg-sky-400 text-white py-2 px-4 rounded">
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>