<app-header [title]="'Bienvenido al panel de Orientador'"
  [subtitle]="'Aqui podras ver y gestionar tus Orientadores'"></app-header>

<div class="flex justify-center items-center h-full md:w-full pt-3">
  <div class="max-lg:w-10/12 w-9/12">
    <div class="max-md:pb-6 md:pb-9 md:flex hd:w-full max-lg:flex max-lg:flex-wrap">


      <div class="absolute flex items-center ps-3 pointer-events-none">
        <fa-icon [icon]="falupa" class="text-xl right-2 transform mt-2" style="color: #adb7c7;"></fa-icon>
      </div>
      <input type="text" id="search" [(ngModel)]="userFilter.nombre"
        class="w-[500px] h-12 ps-5 text-sm border border-gray-300 rounded-lg max-lg:w-full outline-none appearance-none max-lg:mb-5"
        placeholder="Buscar..." required />
      <div class="flex justify-end w-full space-x-4">

        <select [(ngModel)]="userFilter.estado_usuario" (change)="onEstadoChange($event)"
          class="border rounded-lg text-gray-400 md:w-24 h-12 ml-3 focus:outline-none text-center ">
          <option value="Activo" class="text-gray-600">Activo</option>
          <option value="Inactivo" class="text-gray-600">Inactivo</option>
        </select>

        <div class="relative max-md:mb-5">
          <div class="absolute inset-y-0 end-2 flex items-center">
            <fa-icon [icon]="fax" class="text-xl transform" style="color: #4fbbff;"></fa-icon>
          </div>
          <button class="border-1 border-sky-300 text-sky-400 rounded h-12 font-bold pl-3 pr-6"
            (click)="limpiarFiltro()">Limpiar</button>
        </div>


        <button (click)="openModalSINId()" type="button"
          class="md:w-auto bg-sky-400 hover:bg-sky-500 text-white py-0 px-3 rounded h-12">
          Añadir Orientador
          <fa-icon [icon]="faPlus" class="text-md ml-2"></fa-icon>
        </button>

        <app-modal-crear-orientador *ngIf="modalCrearOrientador" [isEditing]="isEditing"></app-modal-crear-orientador>
      </div>
    </div>

    <!-- Encabezados de la tabla -->
    <div class="max-lg:scale-0 max-lg:mt-0 h-14 w-full bg-white rounded-xl grid items-center px-3"
      style="grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 0.5fr;">
      <h1 class="text-vgraylight font-medium">Nombre</h1>
      <h1 class="text-vgraylight font-medium text-center">Apellido</h1>
      <h1 class="text-vgraylight font-medium text-center">Celular</h1>
      <h1 class="text-vgraylight font-medium text-center">Correo</h1>
      <h1 class="text-vgraylight font-medium text-center">Estado</h1>
      <div class="flex justify-center items-center"><fa-icon [icon]="faeye" class="text-lg text-transparent"></fa-icon>
      </div>
      <div class="flex justify-center items-center"><fa-icon [icon]="faeye" class="text-lg text-transparent"></fa-icon>
      </div>
    </div>

    <!-- Lista de orientadores -->
    <div
      class="w-full flex xl:items-center lg:flex-col max-lg:justify-center max-lg:flex-row max-lg:flex-wrap max-lg:-translate-y-16 mb-6">
      <div *ngFor="let orientador of buscarOrientadores() | paginate: { itemsPerPage: 6, currentPage: page }"
        class="bg-gray-200 rounded-lg items-center mt-4 max-lg:max-w-[250px] max-lg:w-[250px] max-lg:p-5 max-lg:rounded-2lg max-lg:mx-2 lg:grid lg:text-center lg:grid-cols-[1.5fr_1.5fr_1.5fr_1.5fr_1.5fr_0.5fr] lg:min-h-14 lg:w-full">
        <h4 class="text-left overflow-wrap-normal break-all lg:mx-3 lg:m-0 my-0">
          <span class="block lg:hidden font-bold">Nombre: </span>{{ orientador.nombre }}
        </h4>
        <h4 class="overflow-wrap-normal break-all m-0">
          <span class="block lg:hidden font-bold">Apellido: </span>{{ orientador.apellido }}
        </h4>
        <h4 class="overflow-wrap-normal break-all m-0">
          <span class="block lg:hidden font-bold">Celular: </span>{{ orientador.celular }}
        </h4>
        <h4 class="overflow-wrap-normal break-all m-0">
          <span class="block lg:hidden font-bold">Correo: </span>{{ orientador.email }}
        </h4>
        <h4 class="overflow-wrap-normal break-all m-0">
          <span class="block lg:hidden font-bold">Estado: </span>{{ orientador.estado }}
        </h4>

        <div class="flex justify-center px- -mt-3 max-md:hidden">
          <h3 class="block "></h3>
          <button class="md:mr-9 md:pr-14">
            <fa-icon [icon]="faPen" (click)="openModal(orientador.id)"
              class=" text-xl right-5 top-1/2 transform -translate-y-1/2 max-md:right-8" style="color: black"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Controles de paginación -->
    <div class="text-center">
      <div class="md:hidden">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
      </div>
      <div class="hidden md:block">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>