input[type="password"]::-ms-reveal { display: none; }

#contenedor {
    display: flex;
    place-content: center;
    color: #000;
}

.cargando {
    position: relative;
    color: #FFF;
}

.rueda {
    border: 4px solid rgba(255, 255, 255, 0.651);
    border-radius: 50%;
    border-left-color: transparent;
    width: 20px;
    height: 20px;
    animation: giro 1s linear infinite;
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
