<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container mx-auto px-4 py-6 md:py-12 mt-24">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 mb-6">
    <div class="col-span-1 md:col-span-12 rounded-lg p-4 md:p-8">
      <h1 class="text-xl md:text-3xl font-bold text-sky-600 -mt-16 mb-12 lg:text-left ">Panel de fanpage</h1>


      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
        <div class="col-span-1">
          <label class="block mb-2 text-blue-400" for="nombre">Nombre</label>
          <input class="p-2 w-full h-14 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" id="nombre" type="text">
        </div>
        <div class="col-span-1 relative">
          <label class="block mb-2 text-blue-400" for="email">Correo Electronico</label>
          <input class="p-2 w-full h-14 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" id="email" type="email">
        </div>
        <div class="col-span-1 relative">
          <label class="block mb-2 text-blue-400" for="password">Contraseña</label>
          <input [type]="hide ? 'password' : 'text'" id="contrasena" formControlName="password"
                                class="p-2 w-full h-14 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                            <button type="button"
                                class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5 text-gray-500"
                                (click)="hide = !hide">
                                <i *ngIf="hide" class="fa fa-eye-slash text-cyan-500 mt-3 text-lg"></i>
                                <i *ngIf="!hide" class="fa fa-eye text-cyan-500 mt-3 text-lg"></i>
                            </button>
        </div>
      </div>
      <div class="mb-4">
        <label class="block mb-2 text-blue-400" for="descripcion">Descripción</label>
        <textarea class="p-2 w-full h-full mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" id="descripcion" rows="3"></textarea>
      </div>
      <div class="mb-4 grid grid-cols-1 md:flex md:space-x-4 ">
        <div class="flex-1 relative">
          <label class="block mb-2 text-blue-400" for="logo">Logo</label>
          <input 
            class="p-2 w-full h-14 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 pr-10" 
            id="logo" 
            type="file" 
            accept="image/*" 
            (change)="onFileSelected($event)">
          <fa-icon 
            [icon]="faFileUpload" 
            class="absolute right-3 top-4 mt-7 text-cyan-500 z-0 text-lg">
        </fa-icon>
          <img 
            *ngIf="imagePreview" 
            [src]="imagePreview" 
            class="mt-4 preview-image border rounded-md object-cover md:text-center" 
            alt="Vista previa del logo">
        </div>         
        <div class="flex-1 relative">
          <label class="block mb-2 text-blue-400" for="formato">Tipo de formato</label>
          <select class="p-2 w-full h-14 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" id="formato">
            <option value="">Seleccione el archivo...</option>
            <option value="pdf">PDF</option>
            <option value="doc">DOC</option>
            <option value="xls">XLS</option>
          </select>
          <fa-icon [icon]="faFileLines" class="absolute right-3 top-4 mt-7 text-cyan-500 -z-0 text-lg"
                            styles=" pointer-events: auto;"></fa-icon>
        </div>
      </div>
      <div class="flex justify-end">
        <button type="submit"
            class="bg-sky-400 hover:bg-cyan-400 text-white font-bold py-2 px-4 md:-mt-4 rounded -pl-12">
            CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</div>
