input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Esto oculta el ícono de fecha predeterminado en Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
    opacity: 0;
}
select {
    -webkit-appearance: none; /* Para Safari/Chrome */
    -moz-appearance: none; /* Para Firefox */
    appearance: none;
    background-position: right center; /* Ajusta la posición del icono */
    background-repeat: no-repeat; /* Evita que el icono se repita */
    padding-right: 1.5em; /* Ajusta el espacio para el icono */
  }