<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actividades</title>
</head>

<body class="bg-gray-100">
  <div class="container mx-auto p-4">
    <header class="mb-6">
      <h1 class="text-3xl font-bold text-purple-700 mb-2">
        <span class="bg-purple-200 rounded-full p-2 mr-2"></span>
        Actividades
      </h1>
      <h2 class="text-2xl text-purple-600">Editar Actividades</h2>
    </header>



    <div class="flex">
      <nav class="w-1/3 pr-4">
        <ul class="bg-white rounded-lg shadow">
          <li class="border-b">
            <div *ngFor="let ruta of listRutaActNivLec">
              <div *ngFor="let actividad of ruta.actividades">
                <div (click)="actividadSelect(actividad)"
                  [ngClass]="{'border-2 border-blue-500': actividad === actividadSeleccionada}">
          <li class="p-3 border-b">{{ actividad.nombre }}</li>
    </div>
    <!-- Mostrar niveles si la actividad está seleccionada -->
    <ul class="pl-4" *ngIf="actividad === actividadSeleccionada">
      <li *ngFor="let nivel of actividad.nivel">
        <div (click)="nivelSelect(nivel)" [ngClass]="nivel === nivelSeleccionada">
          <span>{{ nivel.nombre }}</span>
        </div>
        <ul class="pl-0" *ngIf="nivel === nivelSeleccionada">
          <li *ngFor="let leccion of nivel.lecciones">
            <div (click)="leccionSelect(leccion)" [ngClass]="leccion === leccionSeleccionada">
              <span>{{ leccion.nombre }}</span>
            </div>
            <ul *ngIf="leccion === leccionSeleccionada">
              <li *ngFor="let contenido of leccion.contenido_lecciones"
                class="p-3 pl-18 border-b border-l border-blue-400">
                <div (click)="contenidoLeccionSelect(contenido)"
                  [ngClass]="{'bg-blue-300': contenido === contenidoLeccionSeleccionada}">
                  <span>{{ contenido.titulo }}</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
  </li>
  </ul>
  </nav>

  <main class="w-2/3">
    <div class="bg-white rounded-lg shadow p-4">
      <div *ngIf="contenidoLeccionSeleccionada; else leccionDetalles">
        <h3 class="text-lg font-semibold mb-3">Detalles del Contenido</h3>
        <ul>
          <li class="p-3 border-b">Nombre: {{ contenidoLeccionSeleccionada.titulo }}</li>
          <li class="p-3 border-b">Descripción: {{ contenidoLeccionSeleccionada.descripcion }}</li>
          <li class="p-3 border-b">Fuente: {{ contenidoLeccionSeleccionada.fuente }}</li>
          <li class="p-3 border-b">Tipo dato: {{ contenidoLeccionSeleccionada.id_tipo_dato }}</li>
        </ul>
      </div>
      <ng-template #leccionDetalles>
        <div *ngIf="leccionSeleccionada; else nivelDetalles">
          <h3 class="text-lg font-semibold mb-3">Detalles de la Lección</h3>
          <ul>
            <li class="p-3 border-b">Nombre: {{ leccionSeleccionada.nombre }}</li>
          </ul>
        </div>
      </ng-template>

      <ng-template #nivelDetalles>
        <div *ngIf="nivelSeleccionada; else actividadDetalles">
          <h3 class="text-lg font-semibold mb-3">Detalles del Nivel</h3>
          <ul>
            <li class="p-3 border-b">Nombre: {{ nivelSeleccionada.nombre }}</li>
            <li class="p-3 border-b">Descripción: {{ nivelSeleccionada.descripcion }}</li>
          </ul>
        </div>
      </ng-template>

      <ng-template #actividadDetalles>
        <div *ngIf="actividadSeleccionada">
          <h3 class="text-lg font-semibold mb-3">Detalles de la Actividad</h3>
          <ul>
            <li class="p-3 border-b">Nombre: {{ actividadSeleccionada.nombre }}</li>
            <li class="p-3 border-b">Descripción: {{ actividadSeleccionada.descripcion }}</li>
            <li class="p-3 border-b">Ruta Multi: {{ actividadSeleccionada.ruta_multi }}</li>
            <li class="p-3 border-b">Tipo de Dato: {{ actividadSeleccionada.id_tipo_dato }}</li>
            <li class="p-3 border-b">Aliado: {{ actividadSeleccionada.id_aliado }}</li>
            <li class="p-3 border-b">Asesor: {{ actividadSeleccionada.id_asesor }}</li>
          </ul>
        </div>
      </ng-template>
    </div>
  </main>
  <!-- Formularios de Edición -->
   
  <div class="bg-white rounded-lg shadow p-4" *ngIf="actividadSeleccionada">
    <h3 class="text-lg font-semibold mb-3">Editar Actividad</h3>
    <form [formGroup]="actividadForm" (ngSubmit)="updateActividad()">
      <label>Nombre:</label>
      <input formControlName="nombre" />
      <label>Descripción:</label>
      <input formControlName="descripcion" />
      <!-- Otros campos -->
      <button type="submit">Actualizar Actividad</button>
    </form>
  </div>

  <div class="bg-white rounded-lg shadow p-4" *ngIf="nivelSeleccionada">
    <h3 class="text-lg font-semibold mb-3">Editar Nivel</h3>
    <form [formGroup]="nivelForm" (ngSubmit)="updateNivel()">
      <label>Nombre:</label>
      <input formControlName="nombre" />
      <label>Descripción:</label>
      <input formControlName="descripcion" />
      <button type="submit">Actualizar Nivel</button>
    </form>
  </div>

  <div class="bg-white rounded-lg shadow p-4" *ngIf="leccionSeleccionada">
    <h3 class="text-lg font-semibold mb-3">Editar Lección</h3>
    <form [formGroup]="leccionForm" (ngSubmit)="updateLeccion()">
      <label>Nombre:</label>
      <input formControlName="nombre" />
      <button type="submit">Actualizar Lección</button>
    </form>
  </div>

  <div class="bg-white rounded-lg shadow p-4" *ngIf="contenidoLeccionSeleccionada">
    <h3 class="text-lg font-semibold mb-3">Editar Contenido por Lección</h3>
    <form [formGroup]="contenidoForm" (ngSubmit)="updateContenido()">
      <label>Nombre:</label>
      <input formControlName="titulo" />
      <label>Descripción:</label>
      <input formControlName="descripcion" />
      <button type="submit">Actualizar Contenido</button>
    </form>
  </div>
  </div>
  </div>
</body>

</html>







<!-- servia para seleciconar la ruta pero no lo necesitamos,en emprendedor si -->
<!-- <div *ngFor="let ruta of listRutaActNivLec" (click)="selectRuta(ruta)"
            class="flex flex-col items-center cursor-pointer transform transition duration-300 hover:scale-110"
            [ngClass]="{'border-2 border-blue-500': ruta === rutaSeleccionada}">

            <img *ngIf="ruta.imagen_ruta" [src]="ruta.imagen_ruta" [alt]="ruta.nombre"
                class="w-24 h-24 object-cover rounded-full">

            <h3 class="mt-2 w-32 text-center truncate">{{ ruta.nombre }}</h3>
        </div> -->