<div class="p-4 bg-white" [formGroup]="asignarForm">
  <h2 class="text-center text-blue-500 text-xl lg:text-2xl font-semibold mb-4">Asignar aliado</h2>
    <div class="rounded-xl pb-2 w-full justify-start " id="nomAliadoContainer">
      <label class="mb-2">Con quien quiere la asesoria?</label>
      <select formControlName="nom_aliado" class="w-full border rounded-md px-2 py-2 bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
        <option value="" disabled selected hidden>Seleccione</option>
        <option *ngFor="let aliado of aliados" [value]="aliado.nombre">{{ aliado.nombre }}</option>
      </select>
    </div>

    <div class="flex justify-end mt-3">
      <button mat-button mat-dialog-close class="bg-red-500 mr-2">Cancelar</button>
      <button mat-button class="bg-sky-500" type="submit" (click)="onGuardar()">Guardar</button>
    </div>
</div>