<div class="p-4 bg-white" [formGroup]="asignarForm">
    <div class="rounded-xl pb-2 w-4/6 justify-start text-center" id="nomAliadoContainer">
      <label class="mb-1">Con quien quiere la asesoria?</label>
      <select formControlName="nom_aliado" class="w-3/6 outline-none h-auto text-start border rounded-md px-2 py-2 bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
        <option value="" disabled selected hidden>Seleccione</option>
        <option *ngFor="let aliado of aliados" [value]="aliado.nombre">{{ aliado.nombre }}</option>
      </select>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="bg-red-500">Cancelar</button>
      <button mat-button class="bg-sky-500" type="submit" (click)="onGuardar()">Guardar</button>
    </div>
</div>