<div class="max-w-6xl mx-auto">
    <div class="flex justify-center items-center h-screen">
        <div
            class="py-12 container rounded overflow-hidden shadow-lg bg-white shadow-inner w-11/12 lg:w-[600px] h-[450px] ">
            <div class="flex flex-col items-center justify-center text-center">
                <img src="../../../assets/images/logo_sinFondo.png" class="mb-4">
                <p>¿Has olvidado tu contraseña?<br>¡No te preocupes! Ingresa tu correo electronico para enviarte una
                    clave temporal,recuerda cambiarla luego.</p>
            </div>
            <form [formGroup]="passwordForm" (ngSubmit)="password()">
                 <div class="max-w-full flex flex-wrap justify-center space-x-1">
                <div class="mb-4">  
                    <input type="email" #txt1 class="w-96 h-12 text-center border rounded-md text-xl" formControlName="email">
                </div>
                <div>
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded" type="submit"
                    >Recuperar Cuenta</button>
                </div>
            </div>
            </form>
           
        </div>
    </div>

</div>
<!-- (click)="forgotpassword()" -->