<div class="min-h-screen">
  <div class="container mx-auto py-12 text-center">
    
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-left">Rutas de aprendizaje</h2>
    <hr>
    <h3 class="text-xl font-semibold text-gray-700 mb-12 text-left">Ruta emprendedor</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="relative bg-white p-6 rounded-full shadow-2xl text-center w-40 h-40 transition-transform duration-500 ease-in-out transform hover:scale-105">
        <a href="/cursorutas" class="flex flex-col items-center text-center">
          <div class="absolute top-0 mt-2 w-36 h-36 bg-blue-500 rounded-full flex items-center justify-center">
              <img src="/assets/images/imagenruta.jpg" alt="Icono de Administración" class="w-full h-full object-cover rounded-full">
          </div>
        </a>
        <a href="/ruta-administracion" class="mt-12">
          <p>Administración</p>
        </a>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
        <div class="relative bg-white p-6 rounded-full shadow-2xl text-center w-40 h-40 transition-transform duration-500 ease-in-out transform hover:scale-105">
          <a href="/ruta-administracion" class="flex flex-col items-center text-center">
            <div class="absolute top-0 mt-2 w-36 h-36 bg-blue-500 rounded-full flex items-center justify-center">
                <img src="/assets/images/imagenruta.jpg" alt="Icono de Administración" class="w-full h-full object-cover rounded-full">
            </div>
          </a>
          <a href="/ruta-administracion" class="mt-12">
            <p>Administración</p>
          </a>
        </div>
     
  </div>
</div>
