<div class="p-2">


    <div  class=" flex-1 py-2 w-48 pl-8 my-">
        
        <h1>Mi Perfil</h1>

    </div>

    <div class="flex items-stretch mb-4 py-10">

        <div class=" flex-1 py-2 w-48  pl-8">
            <h3>Informacion Personal</h3>               
            
        </div>

        <div class=" flex-1 justify-end">
            <input type="text" placeholder="Nombres" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />
            <input type="text" placeholder="Apellidos" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />
            <input type="text" placeholder="Tipo de Documento" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />
            <input type="text" placeholder="Número de Documento" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />
            <input type="date" placeholder="Fecha de nacimiento" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />
            <select class="border rounded-md  my-4 mr-4 py-2 px-3 w-96">
                <option value="" disabled selected>Género</option>
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
            </select>
            <input type="password" placeholder="Contraseña" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />

        </div>

           
    </div>



<hr class="w-full border-t-2 border-gray-300 my-10" >

    <div class="flex items-stretch my-10 mb-4">

        <div class=" flex-1 py-10 w-64 pl-8 ">
            <label class="text-left " for="Contacto">Contacto</label>
        </div>

        <div class="flex-1 justify-end my-10" >
            <input type="email" placeholder="Correo" class="border rounded-md my-4 mr-4 py-2 px-3 w-96" />
            <input type="tel" placeholder="Teléfono" class="border rounded-md mr-4 py-2 px-3 w-96" />

        </div>

    </div>

<hr class="w-full border-t-2 border-gray-300 my-10" >


    <div class="flex items-stretch my-10 mb-4 " >

        <div class=" flex-1 py-10 w-64 pl-8 ">

            <label class="text-left" for="Direccion">Direcccion</label>

        </div>
        
        <div class="flex-1 justify-end  my-10">
            <select class="border rounded-md my-4 mr-4 pr-8 py-2 px-3 w-96 ">
                <option value="" disabled selected>Ciudad</option>
                <option value="Bucaramanga">Bucaramanga</option>
                <option value="Floridablanca">Floridablanca</option>
                <option value="Giron">Giron</option>
                <option value="Piedecuesta">Piedecuesta</option>
            </select>
            <select class="border rounded-md my-4 py-2 px-3 pr-4 w-96">
                <option value="" disabled selected>Municipio</option>
                <option value="Bucaramanga">Bucaramanga</option>
                <option value="Floridablanca">Floridablanca</option>
                <option value="Giron">Giron</option>
                <option value="Piedecuesta">Piedecuesta</option>
            </select>
            <input type="text" placeholder="Dicecion" class="border rounded-md  my-4 mr-4 py-2 px-3 w-96" />

        </div>
        

    </div>

    <div class="flex justify-end mt-8 mr-8">

        <button class="justify-end bg-blue-500 text-white my-10 py-2 px-4 rounded-md mt-2 mb-8"> Guardar Cambios  </button>
    </div>


</div> 

