div.block {
    display: block;
    line-height: 1.2rem;
    max-height: 3.8rem;
    padding-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap; /* Allow wrapping */
    word-wrap: break-word; /* Ensure long words are broken */
  }
  