<app-header [title]="'Bienvenido al panel de aliados'"
    [subtitle]="'Aqui podras ver y gestionar tus aliados'"></app-header>
<div class="flex justify-center items-center h-full md:w-full pt-3">
    <div class="max-xl:w-10/12 w-9/12 ">
        <div class="max-md:pb-3 md:pb-6 md:flex hd:w-full max-xl:flex max-lg:flex-wrap">


            <div class="absolute flex items-center ps-3 pointer-events-none ">
                <fa-icon [icon]="falupa" class="text-xl right-2 transform mt-2" style="color: #adb7c7;"></fa-icon>
            </div>
            <input type="text" id="search" [(ngModel)]="userFilter.nombre"
                class="w-[400px] h-12 ps-5 text-sm border border-gray-300 rounded-xl max-lg:w-full outline-none appearance-none max-xl:mb-5"
                placeholder="Buscar..." required />

            <div class="flex flex-wrap justify-center sm:justify-end w-full gap-x-4">
                <div class="relative max-md:mb-5 max-sm:w-28 w-36 h-12">
                    <select [(ngModel)]="userFilter.estado_usuario" (change)="onEstadoChange($event)"
                        class="border-2 rounded text-gray-400 h-full w-full outline-none appearance-none pl-3">
                        <option value="Activo" class="text-gray-600">Activo</option>
                        <option value="Inactivo" class="text-gray-600">Inactivo</option>
                    </select>
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                        <svg class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="relative max-md:mb-5 max-sm:w-24 w-36 mb-4">
                    <div class="absolute inset-y-0 xl:end-6 max-xl:end-2 flex items-center">
                        <fa-icon [icon]="fax" class="text-xl transform " style="color: #4fbbff;"></fa-icon>
                    </div>
                    <button class="border-1 border-sky-300 text-sky-400 rounded h-12 font-bold w-full pr-6"
                        (click)="limpiarFiltro()">Limpiar</button>
                </div>



                <a href="add-aliados" class="max-sm:w-full ">
                    <button
                        class="bg-sky-400 hover:bg-sky-500 text-white font-bold px-3 py-0 rounded h-12 w-full">Agregar
                        aliado</button></a>
            </div>




        </div>

        <app-carga [isLoading]="isLoading"></app-carga>

        <div *ngIf="!isLoading">
            <div class="max-xl:scale-0 max-xl:mt-0  h-14 w-full bg-white rounded-xl  grid items-center px-3  "
                style="grid-template-columns: 1.5fr 1.5fr 1.5fr 0.5fr;">
                <h1 class=" text-vgraylight font-medium ">Nombre</h1>
                <h1 class=" text-vgraylight font-medium text-center">Correo</h1>
                <h1 class=" text-vgraylight font-medium text-center">Estado</h1>
            </div>

            <div
                class="w-full flex xl:items-center xl:flex-col max-xl:justify-center max-xl:flex-row max-xl:flex-wrap max-xl:-translate-y-16 xl:mb-6">
                <div *ngFor="let aliados of listaAliado |filterBy:userFilter | paginate: { itemsPerPage: 6, currentPage: page }"
                    class="bg-gray-200 rounded-xl items-center mt-4 max-xl:max-w-[250px] max-xl:w-[250px] max-xl:p-5 max-xl:rounded-2xl max-xl:mx-2 xl:grid xl:text-center xl:grid-cols-[1.5fr_1.5fr_1.5fr_0.5fr] xl:min-h-14 xl:w-full">

                <h4 class="text-left overflow-wrap-normal break-all xl:mx-3 xl:m-0 my-0">
                    <span class="block xl:hidden font-bold">Nombre: </span>{{aliados.nombre}}
                </h4>

                <h4 class="overflow-wrap-normal break-all m-0">
                    <span class="block xl:hidden font-bold">Correo: </span>{{aliados.email}}
                </h4>

                <h4 class="overflow-wrap-normal break-all m-0">
                    <span class="block xl:hidden font-bold">Estado: </span>{{aliados.estado_usuario}}
                </h4>

                <div class="flex max-xl:mt-2 justify-end items-end xl:justify-center xl:items-center xl:mt-0">
                    <fa-icon [icon]="faeye" class="text-xl text-sky-500"></fa-icon>
                  </div>
            </div>
        </div>

        <div class="text-center ">
            <div class="md:hidden">
                <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel="">
                </pagination-controls>
            </div>

                <div class="hidden md:block">
                    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>