<div class="flex flex-col lg:flex-row w-full lg:h-full items-center justify-center">
    <!--
    <div class="flex justify-center items-center sm:mb-4">
        <img src="../images/logo.jpg" alt="logo" class="w-96 h-auto" />
    </div>
    -->
    <div class="flex w-auto h-auto items-center justify-center">
        <div class="lg:ml-14">
            <div class="flex flex-col">
                <div class=" flex-wrap justify-between">
                    <div>
                        <h1 class="text-xl mt-4 font-bold mr-10 xl:mt-10">
                            Información personal
                        </h1>
                    </div>
                    <div class="flex-col">
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Nombre" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Cargo / rol" />
                            </div>
                            <div
                            class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                            <input class="w-full outline-none" placeholder="Cargo / rol" />
                        </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Numero de documento" />
                            </div>
                        </div>
                            <!--Separacion a otros 4 campos-->
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="NIT" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Razón social" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full pr-6 outline-none" placeholder=" Pagina web" />
                                <fa-icon [icon]="faGlobe" class="absolute text-xl right-5 top-1/2 transform -translate-y-1/2"></fa-icon>
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none " placeholder="Profesión" />
                            </div>
                        </div>
                        <!--Separacion de conjunto de 4-->
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Dirección del emprendimiento" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Correo" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Celular" />
                            </div>
                        </div>
                        <!--Separacion de conjunto de 3-->
                        <div class="flex flex-wrap justify-center lg:justify-normal">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-2 px-2 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <textarea placeholder="Experiencia" class="w-full h-full resize-none focus:outline-none focus:border-gray-300" rows="4" cols="30"></textarea>
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-2 px-2 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <textarea placeholder="Funciones" class="w-full h-full resize-none focus:outline-none focus:border-gray-300" rows="4" cols="30"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--
            <hr class="my-6 border-gray-300" />
            <div class="flex flex-col">
                <div class="flex flex-wrap items-center justify-between">
                    <div>
                        <h1 class="text-xl font-bold">Dirección</h1>
                    </div>
                    <div class="flex-col">
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="rounded-xl border border-gray-300 p-4 bg-white mt-6 w-[260px] mx-4 justify-center">
                                <input class="w-full outline-none" placeholder="Ciudad" />
                            </div>
                            <div
                                class="rounded-xl border border-gray-300 p-4 bg-white mt-6 w-[260px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Municipio" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-300" />
            <div class="flex flex-col">
                <div class="flex flex-wrap items-center justify-between">
                    <div>
                        <h1 class="text-xl font-bold">Contacto</h1>
                    </div>
                    <div class="flex-col">
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="rounded-xl border border-gray-300 p-4 bg-white mt-6 w-[260px] mx-4 justify-center">
                                <input class="w-full outline-none" placeholder="Correo" />
                            </div>
                            <div
                                class="rounded-xl border border-gray-300 p-4 bg-white mt-6 w-[260px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Telefono" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        -->
        </div>
    </div>
</div>
