<app-header [title]="'Título específico'" [subtitle]="'Subtítulo específico'"></app-header>
  <div class="flex flex-col lg:flex-row w-full justify-center">
    <div class="flex w-auto h-4/5 justify-center">
        <div class="lg:ml-14">
            <div class="flex flex-col">
                <div class=" flex-wrap justify-between">
                    <div>
                        <h1 class="text-xl  font-bold mr-10  xl:mt-10">
                            Lider
                        </h1>
                    </div>
                    <div class="flex-col">
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Nombres" />
                            </div>
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Apellidos" />
                            </div>
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Cargo / rol" />
                            </div>
                        </div>
                        <!--Separacion a otros 4 campos-->
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Razón social" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full pr-6 outline-none" placeholder=" Pagina web" />
                                <fa-icon [icon]="faGlobe"
                                    class="absolute text-xl right-5 top-1/2 transform -translate-y-1/2"></fa-icon>
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Telefono" />
                            </div>
                        </div>
                        <!--Separacion de conjunto de 4-->
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Celular" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Dirección del emprendimiento" />
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none " placeholder="Profesión" />
                            </div>
                        </div>
                        <!--Separacion de conjunto de 3-->
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-2 px-2 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <textarea placeholder="Experiencia"
                                    class="w-full h-full resize-none focus:outline-none focus:border-gray-300" rows="4"
                                    cols="30"></textarea>
                            </div>
                            <div
                                class="mt-9 rounded-xl outline-none  border-1 py-2 px-2 text-base form-control w-[290px] mx-4 justify-center sm:mx-[25px] relative">
                                <textarea placeholder="Funciones"
                                    class="w-full h-full resize-none focus:outline-none focus:border-gray-300" rows="4"
                                    cols="30"></textarea>
                            </div>
                            <div
                                class="items-center  mt-9 rounded-xl outline-none  border-0 py-2 px-2 text-base form-control w-[290px] mx-4  sm:mx-[25px] relative">
                                <p
                                    class="w-full h-14 resize-none focus:outline-none focus:border-gray-300 text-justify">
                                    El apoyo es un recurso o asistencia proporcionada a los empleados para mejorar la
                                    eficiencia y la productividad
                                </p>
                                <div
                                    class="items-center flex rounded-xl outline-none  border-0 text-base form-control w-[290px] relative">
                                    <input class="transform scale-150" type="checkbox" id="mostrarContenido"
                                        (change)="mostrarOcultarContenido()" name="checkbox">
                                    <h5 class="pl-3">Apoyo</h5>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-end pr-10 pt-8">
                            <button id="guardar"
                                class="px-10 py-2 bg-blue-500 bg-opacity-80 text-white rounded-xl cursor-pointer btn btn-primary">Guardar
                                cambios</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Colocarle display none a esto, mientras es por pruebas-->

            <div id="contenido" style="display: none;">
                <hr class="mt-4">
                <div class=" flex-wrap justify-between">
                    <div>
                        <h1 class="text-xl mt-0 font-bold mr-10 xl:mt-10">
                            Apoyo
                        </h1>
                    </div>
                    <div class="flex-col">
                        <div class="flex flex-wrap justify-center">
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[260px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Nombre" />
                            </div>
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[260px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Cargo" />
                            </div>
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[260px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Celular" />
                            </div>
                            <div
                                class="mt-2 rounded-xl outline-none  border-1 py-3 px-4 text-base form-control w-[260px] mx-4 justify-center sm:mx-[25px] relative">
                                <input class="w-full outline-none" placeholder="Correo" />
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-end pr-10 pt-8">
                            <button id="guardar"
                                class="px-10 py-2 bg-blue-500 bg-opacity-80 text-white rounded-xl cursor-pointer btn btn-primary">Guardar
                                cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>