<app-header [title]="'Bienvenido al panel de empresas'"
    [subtitle]="'Aquí podrás ver y gestionar tus empresas'"></app-header>
<div class="container mx-auto px-4 py-12">
    <form [formGroup]="addEmpresaForm" (ngSubmit)="crearEmpresa()">
        <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 mb-6 p-4 sm:p-12">
            <div class="col-span-12 rounded-lg">
                <div class="flex flex-col">
                    <div class="text-3xl md:text-9xl">
                        <h5 class="text-xl md:text-4xl font-bold text-sky-600 -mt-16">Líder</h5>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6">
                        <div class="w-full text-base relative">
                            <label for="nombre" class="block mb-2 text-blue-400">Nombre:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="nombre" />
                        </div>

                        <div class="w-full text-base relative">
                            <label for="correo" class="block mb-2 text-blue-400">Email:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="correo" />
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-6">
                        <div class="w-full text-base relative">
                            <label for="tipodocumento" class="block mb-2 text-blue-400">Tipo de Documento:</label>
                            <select id="tipoDocumento" formControlName="id_tipo_documento"
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                                <option value="" disabled selected>
                                    Seleccionar tipo de documento...
                                </option>
                                <option value="1">Cédula ciudadanía</option>
                                <option value="2">Pasaporte</option>
                                <option value="3">Carnet de Extranjería</option>
                                <option value="4">NIT</option>
                            </select>
                            <fa-icon [icon]="faIdCard" class="absolute right-3 top-4 mt-7 text-cyan-500 z-0 text-lg"
                            styles=" pointer-events: auto;"></fa-icon>
                        </div>
                        <div class="w-full text-base relative">
                            <label for="documento" class="block mb-2 text-blue-400">Número Documento:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="documento" />
                        </div>
                        <div class="w-full text-base relative">
                            <label for="razonSocial" class="block mb-2 text-blue-400">Razón Social:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="razonSocial" />
                        </div>
                        <div class="w-full text-base relative">
                            <label for="departamento" class="block mb-2 text-blue-400">Departamento:</label>
                            <select id="departamento" name="departamento"
                                (change)="onDepartamentoSeleccionado($event.target.value)"
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                                <option value="" disabled selected>
                                    Seleccionar Departamento...
                                </option>
                                <option *ngFor="let nameDepartamento of listDepartamentos" [value]="nameDepartamento">
                                    {{ nameDepartamento }}
                                </option>
                            </select>
                            <fa-icon [icon]="faLandmarkFlag" class="absolute right-3 top-5 mt-6 text-cyan-500 z-0 text-lg"
                            styles=" pointer-events: auto;"></fa-icon>
                        </div>
                        <div class="w-full text-base relative">
                            <label for="municipio" class="block mb-2 text-blue-400">Municipio:</label>
                            <select id="municipio" name="municipio" formControlName="id_municipio"
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                                <option value="" disabled selected>
                                    Seleccionar Municipio...
                                </option>
                                <option *ngFor="let municipio of listMunicipios" [value]="municipio">
                                    {{ municipio }}
                                </option>
                            </select>
                            <fa-icon [icon]="faMountainCity" class="absolute right-3 top-4 mt-7 text-cyan-500 z-0 text-lg"
                            styles=" pointer-events: auto;"></fa-icon>
                        </div>
                        <div class="w-full text-base relative">
                            <label for="direccion" class="block mb-2 text-blue-400">Dirección del
                                emprendimiento:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="direccion" />
                                <fa-icon [icon]="faLocationDot" class="absolute right-3 top-12 text-cyan-500 z-0 text-lg"
                            styles=" pointer-events: auto;"></fa-icon>
                        </div>
                        <div class="w-full text-base relative">
                            <label for="telefono" class="block mb-2 text-blue-400">Teléfono:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="telefono" />
                        </div>
                        <div class="w-full text-base relative">
                            <label for="celular" class="block mb-2 text-blue-400">Celular:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="celular" />
                        </div>
                        <div class="w-full text-base relative">
                            <label for="url_pagina" class="block mb-2 text-blue-400">Página web:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="url_pagina" />
                        </div>
                        <div class="w-full text-base relative">
                            <label for="profesion" class="block mb-2 text-blue-400">Profesión:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="profesion" />
                        </div>
                        <div class="w-full text-base relative">
                            <label for="cargo" class="block mb-2 text-blue-400">Cargo:</label>
                            <input
                                class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                formControlName="cargo" />
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
                        <div class="w-full text-base relative">
                            <label for="experiencia" class="block mb-2 text-blue-400">Experiencia:</label>
                            <textarea formControlName="experiencia"
                                class="p-2 w-full h-full mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                                rows="4" cols="30"></textarea>
                        </div>
                        <div class="w-full text-base relative">
                            <label for="funciones" class="block mb-2 text-blue-400">Funciones:</label>
                            <textarea formControlName="funciones"
                                class="p-2 w-full h-full mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-1000"
                                rows="4" cols="30"></textarea>
                        </div>
                        <div class="  relative p-4 text-lg bg-slate-50 lg:bottom-10">
                            <p class="w-full resize-none focus:outline-none focus:border-gray-300 ">
                                El apoyo es un recurso o asistencia proporcionada a los
                                empleados para mejorar la eficiencia y la productividad.
                            </p>
                            <div class="flex items-center">
                                <input type="checkbox" id="mostrarContenido" name="checkbox"
                                    class="custom-checkbox scale-150 -mt-3 border-blue-300"
                                    (change)="mostrarOcultarContenido()" />
                                <h5 class="pl-3 text-blue-500 text-base">Apoyo</h5>
                            </div>

                        </div>
                    </div>
                    <div class="flex justify-end relative bottom-12 -left-2">
                        <button id="guardar" type="submit"
                            class="px-10 py-3 bg-sky-500 bg-opacity-80 text-white rounded-xl cursor-pointer">
                            Guardar cambios
                        </button>
                    </div>
                    <form [formGroup]="addApoyoEmpresaForm" (ngSubmit)="crearEmpresa()">
                        <div id="contenido" class="mt-6 sm:mt-14">
                            <hr class="w-full border-t-gray-600 border-gray-400" />
                            <div class="flex justify-between items-center mb-6">
                                <h1 class="text-xl md:text-4xl font-bold text-sky-600">Apoyo</h1>
                            </div>
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-6">
                                <div class="w-full text-base relative">
                                    <label for="nombre" class="block mb-2 text-blue-400">Nombre:</label>
                                    <input formControlName="nombre"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="nombre" class="block mb-2 text-blue-400">Apellido:</label>
                                    <input formControlName="apellido" class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="cargo" class="block mb-2 text-blue-400">Cargo:</label>
                                    <input formControlName="cargo"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="celular" class="block mb-2 text-blue-400">Celular:</label>
                                    <input formControlName="celular"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="correo" class="block mb-2 text-blue-400">Correo:</label>
                                    <input formControlName="email"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="tipodocumento" class="block mb-2 text-blue-400">Tipo de
                                        Documento:</label>
                                    <select id="tipoDocumento" formControlName="id_tipo_documento"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                                        <option value="" disabled selected>
                                            Seleccionar tipo de documento...h-12
                                        </option>h-12
                                        <option value="1">Cédula ciudadanía</option>
                                        <option value="2">Pasaporte</option>
                                        <option value="3">Carnet de Extranjería</option>
                                        <option value="4">NIT</option>
                                    </select>
                                    <fa-icon [icon]="faIdCard" class="absolute right-5 top-4 mt-7 text-cyan-500 z-0"
                                        styles=" pointer-events: auto;"></fa-icon>
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="numeroDocumento" class="block mb-2 text-blue-400">Número de
                                        documento:</label>
                                    <input formControlName="documento"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                                <div class="w-full text-base relative">
                                    <label for="fijo" class="block mb-2 text-blue-400">Fijo:</label>
                                    <input formControlName="telefono"
                                        class="p-2 w-full h-12 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                                </div>
                            </div>
                            <div class="flex justify-end">
                                <button id="guardar" type="submit"
                                    class="px-10 py-3 bg-sky-500 bg-opacity-80 text-white rounded-xl cursor-pointer">
                                    Guardar cambios
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </form>
</div>