<div class=" pt-4 divide-y divide-light-blue-400 ml-12 mr-4">
    <h1 class="text-xl font-bold mb-4">Bienvenido al panel Editar Ruta</h1>
    <div class="grid grid-cols-1 mb-2">



        <!-- Contenido principal -->
        <div class="grid grid-cols-1 space-y-4">
            <!-- activity.component.html -->

            <div>
                <label for="activityName">Nombre de la Actividad:</label>
                <input type="text" id="activityName" [(ngModel)]="activityName"
                    class="block flex-1 border-0 bg-gray-200 py-1.5 pl-1 text-gray-900 placeholder:text-black ">
                <!-- block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 -->
            </div>

            <!-- Mostrar botón "Añadir Nivel" solo después de dar clic en "Siguiente" -->
            <div class="">
                <button (click)="addActivityModal()"
                    class="bg-sky-400 hover:bg-sky-500 text-white font-bold px-3 py-0 rounded h-12">Añadir
                    Nivel</button>
            </div>



        </div>
    </div>

</div>