<div class="fixed z-50 inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center  p-4">
    <form [formGroup]="rutaForm">
        <h1 class="text-start text-lg sm:text-xl font-bold mb-10">
            {{ isEditing ? 'Editar Ruta' : 'Crear Ruta' }}
        </h1>
        <div
            class="bg-white border border-gray-300 p-6 sm:p-10 rounded w-full max-w-md md:max-w-lg lg:max-w-2xl h-auto">
            <h1 class="text-center text-lg sm:text-xl font-bold mb-10">
                Agregar Ruta
            </h1>

            <div class="relative mx-2 my-2">
                <input type="text" placeholder=" " id="nombre" formControlName="nombre" required
                    class="w-full px-4 py-2 border outline-none rounded-md bg-gray-200 peer focus:outline-none focus:ring-2 focus:ring-blue-200 ">
                <label for="nombre"
                    class="absolute left-0 top-2 px-1  uppercase tracking-wide peer-focus:text-black pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-8 ml-2 peer-valid:text-sm peer-valid:-translate-y-8">
                    Nombre
                </label>
                <div class="relative">
                    <div class="flex items-center flex-wrap justify-center mb-6">
                        <div
                            class="w-52 h-52 flex items-center justify-center border overflow-hidden mb-2 rounded-full border-x-gray-900 cursor-pointer">
                            <img [src]="imagen_ruta" alt="imagen_ruta" class="object-cover">
                            <span class="text-gray-500">Click aca!</span>
                            <input id="imagen_ruta" type="file" (change)="onFileSelected($event)"
                                formControlName="imagen_ruta" accept="image/* "
                                class="absolute inset-0 opacity-0 cursor-pointer">
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="isEditing">

            </div>
            <div class="flex flex-wrap justify-center mt-4">
                <button type="button" (click)="closeModal()"
                    class="m-2 inline-block bg-gray-500 px-4 py-2 rounded text-white">
                    Cancelar
                </button>
                <button type="button" (click)="addRuta()"
                    class="inline-flex sm:w-auto bg-sky-400 px-4 py-2 rounded m-2 text-white font-bold">
                    Confirmar
                </button>
            </div>
        </div>
    </form>
</div>









<!-- <div class="relative mx-2 my-2">
                    <input type="text" placeholder=" " id="nombre" formControlName="nombre" required
                        class="w-full px-4 py-2 border outline-none rounded-md bg-gray-200 peer focus:outline-none focus:ring-2 focus:ring-blue-200 ">
                    <label for="nombre"
                        class="absolute left-0 top-2 px-1  uppercase tracking-wide peer-focus:text-black pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-8 ml-2 peer-valid:text-sm peer-valid:-translate-y-8">
                        Nombre
                    </label>
                    <div class="rounded-3xl">
                        
                        <input type="file" formControlName="imagen_ruta"  id="imagen_ruta" (change)="onFileSelected($event)">
                    </div>
                </div> -->