/*Apertura del menu*/
.slide-left {
    /* transform: translateX(-100%); */
    margin-left: -250px;

}

/*ALtura menu lateral*/
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: #00B3ED;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    /* transition: all 0.5 eases; */
    transform: margin-left;
    z-index: 40;
}

/* .sidebar.close {
    left: 0;
    width: 88px;
} */

.sidebar .icon,
.sidebar .text {
    color: #fff;
    transition: all 0.2 eases;
}

/* .sidebar header .toggle {
    position: absolute;
    top: 15%;
    left: 238px;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #0fb5eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 40px 40px 0px; 
    color: #fff;
    font-size: 22px;
    transition: all 0.3 eases;
} */





.sidebar li a:hover {
    background: rgba(255, 255, 255, 0.2);
}



.btn-logout li a:hover{
    background: rgba(255, 255, 255, 0.2);
}

/*  */

/* Estilos para el hover */
/* li a:hover svg:hover {
    fill: #FFFFFF; 
    color: blue;
} */



.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: #0fb5eb;
}


/* .home {
    position: relative;
    width: 100%-255px;
    transition: var(--tran-05);
}*/

/* .home .text {
font-size: 16px;
font-weight: 500;
color: var(--text-color);
padding: 8px 40px;
} */

/* .sidebar.close~.home {
    width: calc(100%);
} */


@media(max-width:100em) {


    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 12px;
        background: #00B3ED;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        overflow: visible;
        transform: margin-left;
        z-index: 40;
    }


    .nav-text {
        font-size: 10px;
        font-weight: 200;
    }


}