/* Estilo base del menú lateral */
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    padding: 10px 14px;
    background: #00B3ED;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease; /* Ajuste de transición */
    z-index: 40;
    margin: 6px;
}

/* Estilo cuando el menú está expandido */
.sidebar.expand {
    width: 260px;
    min-width: 260px;
}

/* Ocultar texto cuando el menú no está expandido */
.sidebar:not(.expand) .text {
    display: none;
}

/* Mostrar iconos y texto cuando el menú está expandido */
.sidebar.expand .text {
    display: block;
}

/* Transición para iconos */
.sidebar .icon {
    color: #fff;
    transition: color 0.2s ease; /* Ajuste de transición */
}

/* Efecto hover en enlaces del menú */
.sidebar li a:hover {
    background: rgba(255, 255, 255, 0.3);
    /*background: rgb(45, 148, 216);*/
}

/* Estilo para el botón de logout */
/* .btn-logout li a:hover {
    background: rgb(72, 176, 245);
} */

/* Transición del toggle switch */
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
   
}
.expand-line {
    width: 11rem; /* 44 * 0.25rem = 11rem */
    height: 0.125rem; /* 2 * 0.125rem = 0.125rem */
    margin-left: 1.5rem; /* 6 * 0.25rem = 1.5rem */
    background-color: #ffb000;
    border-radius: 1rem;
  }
  
  .collapse-line {
    width: 0;
    height: 0;
    margin-left: 0;
    background-color: transparent;
    border-radius: 0;
  }
  
  .transition-all {
    transition: all 0.3s ease;
  }
  .icon {
    fill: #FFFFFF; /* Color blanco para pantallas grandes */
  }

/* Estilos responsivos */
@media (max-width: 70em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 40px;
        width: 50px;
        padding: 10px 14px;
        z-index: 40;
    }
    .sidebar.expand {
        height: 100vh; 
    }

    
    /* Ocultar texto cuando el menú no está expandido */
    .sidebar:not(.expand) .containerLogout,
    .sidebar:not(.expand) .menu {
        display: none;
    }
    
    /* Mostrar iconos y texto cuando el menú está expandido */
    .sidebar.expand .text {
        display: block;
    }
    
    }
    .toggle {
        display: none; /* Oculta el icono de burger en pantallas más grandes */
    }
    .nav-text {
        font-size: 10px;
        font-weight: 200;
    }
    

/* Estilo para el botón de alternar (toggle) */
.toggle {
    transition:none; /* Ajuste de transición */
}

/* Estilo cuando el menú no está expandido */
.sidebar:not(.expand) .toggle {
    left: 10px; /* Ajustar la posición cuando el menú está colapsado */
}
