.slide-left {
    /* transform: translateX(-100%); */
    margin-left: -250px;

}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    /* transition: all 0.5 eases; */
    transform: margin-left;
    z-index: 40;
}

.sidebar.close {
    left: -250px;
    width: 88px;
}





.sidebar.close header .toggle {
    transform: translateY(-50%) rotate(180deg);
}



/* Estilos personalizados para ocultar la barra de desplazamiento */
.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}





@media(max-width:100em) {
    .slide-left {
        /* transform: translateX(-100%); */
        margin-left: -250px;

    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 12px;
        background: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        overflow: visible;
        transform: margin-left;
        z-index: 40;
    }


    .sidebar header .toggle {
        position: relative;
        top: -148px;
        left: 238px;
    }

    /* Para todos los dispositivos */

}