<div class=" pt-4 divide-y divide-light-blue-400 ml-12 mr-4">
    <h1 class="text-xl font-bold mb-4">Bienvenido al panel Editar Ruta</h1>
    <div class="grid sm:grid-cols-1 md:grid-cols-1 xl:grid-cols-12 xl:gap-6  mb-2">
        <form [formGroup]="actividadForm" (ngSubmit)="addActividad">
            <div class="contenido">
                <h3> Rutas</h3>
                <div *ngFor="let ruta of listRuta">
                   <h3>{{ruta.nombre}}</h3>
                </div>
            </div>
        </form>


        <!-- Contenido principal -->
        <div class=" col-span-8 ">
            <h2 class="text-center my-8">Crear Actividad</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="xl:bg-gray-100 rounded xl:p-4">
                    <div class="bg-gray-50 rounded-xl border border-black-50 p-4">
                        <div class="py-2">
                            <h3 class="font-bold ">Actividad</h3>
                            <p class="text-base">Nombre</p>
                            <input type="text" name="titulo" required [(ngModel)]="persona.titulo" #titulo="ngModel"
                                class="border border-gray-700 h-10 rounded-xl w-full p-4 bg-white-50 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 ">
                            <div *ngIf="submitted && titulo.invalid"
                                class="inline-block p-1 mt-2 mb-4 text-sm text-red-500 rounded-lg bg-red-50 "
                                role="alert">
                                <span class="font-medium">Este campo es requerido *</span>
                            </div>
                        </div>

                        <div class="py-2">
                            <h3>Descripcion</h3>
                            <textarea name="cuerpo" required [(ngModel)]="persona" #cuerpo="ngModel"
                                class="h-14 border border-gray-700 rounded-xl w-full resize-none p-2 bg-white-50 focus:outline-none focus:ring-2 focus:ring-blue-200 "></textarea>
                            <div *ngIf="submitted && cuerpo.invalid"
                                class="p-1 mt-2 mb-4 text-sm text-red-500 rounded-lg bg-red-50 inline-block"
                                role="alert">
                                <span class="font-medium">Este campo es requerido *</span>
                            </div>
                        </div>
                        <div class="py-2">
                            <h3>ruta_multi</h3>
                            <textarea name="cuerpo" required [(ngModel)]="persona.cuerpo" #cuerpo="ngModel"
                                class="h-14 border border-gray-700 rounded-xl w-full resize-none p-2 bg-white-50 focus:outline-none focus:ring-2 focus:ring-blue-200 "></textarea>
                            <div *ngIf="submitted && cuerpo.invalid"
                                class="p-1 mt-2 mb-4 text-sm text-red-500 rounded-lg bg-red-50 inline-block"
                                role="alert">
                                <span class="font-medium">Este campo es requerido *</span>
                            </div>
                        </div>
                        <div class="py-2">
                            <h3>Tipo de dato</h3>
                            <div class="relative">
                                <select id="tipoDato" name="tipoDato" required [(ngModel)]="persona.tipoDocumento"
                                    #tipoDocumento="ngModel"
                                    class="p-2 w-full h-10 border border-gray-700 rounded-xl bg-white-50 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 ">
                                    <option value="" disabled selected>Seleccione el tipo de formato</option>
                                    <option value="Video">Video</option>
                                    <option value="Multimedia">Multimedia</option>
                                    <option value="Imagen">Imagen</option>
                                    <option value="Pdf">Pdf</option>
                                    <option value="Texto">Texto</option>
                                </select>
                                <div *ngIf="submitted && tipoDocumento.invalid"
                                    class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50 "
                                    role="alert">
                                    <span class="font-medium">Este campo es requerido *</span>
                                </div>
                            </div>


                            <hr class="divide-y divide-light-blue-400 ">
                            <div class="flex justify-center">

                                <button type="submit" class=" bg-sky-400 text-white px-4 py-2 rounded mt-2 text-md">
                                    Agregar otra actividad
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button type="submit"
                            class="bg-sky-400 text-white px-4 py-2 rounded mt-4 text-md">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>

</div>