<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container mx-auto p-0 pt-2 ">

  <!-- Encabezado -->
  <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4 mt-2">
    <app-header [title] [subtitle]="'Asesorias Orientador'"></app-header>
  </header>
  <!-- Sección de búsqueda -->
  <div class="flex flex-col space-y-4 mb-4 px-4 sm:px-14">

    <!-- Contenedor principal -->
    <div
      class="flex flex-col md:flex-row items-center justify-between space-y-4  md:space-y-0 md:space-x-4 border border-gray-300 rounded-2xl p-2 bg-white transition duration-200">

      <!-- Botones de filtro -->
      <div class="flex flex-wrap items-center justify-center md:justify-start space-x-2 md:space-x-4 w-full md:w-auto">
        <button id="sinAsignar"
          class="btn-color flex items-center px-4 py-2 text-gray-800 hover:bg-blue-200 rounded-md transition duration-200 focus:outline-none ease-in-out hover:shadow-md"
          (click)="loadSinAsignar()">
          <span>Sin asignar</span>
          <span class="bg-blue-200 text-blue-700 rounded-full w-6 h-6 flex items-center justify-center ml-2">
            {{ asesoriasSinAsesor.length }}
          </span>
        </button>
        <button id="Asignadas"
          class="btn-color flex items-center px-4 py-2 text-gray-800 hover:bg-blue-200 rounded-md transition duration-200 focus:outline-none ease-in-out hover:shadow-md"
          (click)="loadAsignadas()">
          <span>Asignadas</span>
          <span class="bg-blue-200 text-blue-700 rounded-full w-6 h-6 flex items-center justify-center ml-2">
            {{ asesoriasConAsesor.length }}
          </span>
        </button>
      </div>
      <!-- Barra de búsqueda -->
      <div class="relative flex-grow max-w-full md:max-w-md border-l-2 mt-4 md:mt-0">
        <span class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-500">
          <i class="fas fa-search text-sky-500"></i>
        </span>
        <input type="text" placeholder="Buscar" [(ngModel)]="userFilter.Nombre_sol"
          class="w-full h-12 pl-12 pr-4 border-none outline-none focus:border-sky-300 transition duration-200">
      </div>
    </div>
  </div>
  
<div class="flex flex-wrap justify-center mt-6">
  <!-- Mensaje cuando no hay asesorias sin asignar -->
  <div *ngIf="asesoriasSinAsesor.length === 0 && !showAsignadasFlag" class="text-center text-gray-700 w-full mt-6">
    No tienes asesorias pendientes por asignar
  </div>

  <!-- Mensaje cuando no hay asesorias asignadas -->
  <div *ngIf="asesoriasConAsesor.length === 0 && showAsignadasFlag" class="text-center text-gray-700 w-full mt-6">
    Aun no asignas aliado a ninguna asesoria
  </div>

  <div *ngFor="let asesoria of (showAsignadasFlag ? asesoriasConAsesor : asesoriasSinAsesor)"
    class="relative rounded-lg shadow-md overflow-hidden w-80 m-4 card cursor-pointer" (click)="openModal(asesoria)">
    <div class="absolute h-full w-2" [ngClass]="{'bg-green-500': showAsignadasFlag, 'bg-red-500': !showAsignadasFlag}">
    </div>
    <div class="p-4 py-3 border-gray-200">
      <h2 class="text-lg font-bold h-[3.3rem] overflow-hidden text-ellipsis">{{ asesoria.Nombre_sol }}</h2>
      <div
        class="block w-full h-[3.7rem] text-gray-900 focus:outline-none resize-none overflow-hidden text-ellipsis mb-3"
        title="{{ asesoria.notas }}">{{ asesoria.notas }}</div>
      <p class="text-sm text-gray-700 mb-2"><strong>Fecha: </strong> {{ asesoria.fecha.slice(0, 10) }}</p>
      <p class="text-gray-700"><strong>Emprendedor: </strong>{{ asesoria.nombres }}</p>
      <p class="text-gray-700"><strong>Correo: </strong>{{ asesoria.email }}</p>
      <p *ngIf="asesoria.aliado_redirigido" class="text-sm text-gray-700 mb-2"><strong>Aliado: </strong>{{
        asesoria.aliado_redirigido }}</p>
    </div>
  </div>
</div>
</div>