<div class="container mx-auto p-4 pt-2">
    <header class="flex flex-col md:flex-row justify-between items-center mb-6">
      <div class="flex flex-col items-center max-md:mx-auto max-md:w-auto md:mr-4 w-full md:w-auto mb-4 md:mb-0">
        <div class="border-b-2 border-sky-500 flex items-center justify-center w-full md:w-auto">
          <img src="../../../../assets/images/logo_sinFondo.png" class="h-auto w-24 md:w-28 lg:w-36 xl:w-40" alt="">
          <p class="leading-none text-black font-bold md:text-[8px] max-md:text-[5px]">Incubadora de<br>Emprendimientos Tecnologicos</p>
        </div>
        <div class="text-center text-sky-500 font-bold">
          Empresas
        </div>
      </div>
      <div class="relative w-3/5 md:flex-grow max-md:max-w-l lg:max-w-xl flex justify-end md:mb-10">
        <input type="text" [(ngModel)]="userFilter.nombre" class="w-full max-md:w-full max-lg:w-3/4 max-xl:w-4/5 max-lg:alig p-2 pr-10 rounded-full border-2 border-gray-300 bg-gray-100" placeholder="Buscar..." required />
        <button class="absolute right-3 top-1.5 bg-sky-500 p-1.5 rounded-2xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </button>
      </div>
    </header>
  
    <div class="flex justify-end items-center mb-4">
      <span class="mr-3 text-amber-500 text-[20px] italic mb-1" style="font-weight: 900;">Agregar</span>
      <button class="bg-amber-400 text-white w-12 h-6 rounded-lg flex items-center justify-center">
        <span class="text-3xl font-medium leading-none">+</span>
      </button>
    </div>
  
    <div class="bg-gray-100 rounded-lg shadow-md p-4 mb-6">
        <div class="overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left p-2">Nombre de la Empresa</th>
                <th class="text-left p-2">Teléfono de contacto</th>
                <th class="text-left p-2 hidden sm:table-cell">Dirección</th>
                <th class="text-left p-2"></th>
              </tr>
            </thead>
            <tbody class="space-y-6">
              <ng-container *ngFor="let empresa of listaEmpresas | filterBy: userFilter | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
                <tr class="bg-gray-300 my-5 rounded-xl">
                <td class="p-2 rounded-s-lg">{{ empresa.nombre }}</td>
                <td class="p-2">{{ empresa.telefono }}</td>
                <td class="p-2 hidden sm:table-cell">{{ empresa.direccion }}</td>
                <td class="p-2 rounded-e-lg text-center">
                  <button class="text-blue-500" (click)="editEmpresa(empresa.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>
                  </button>
                </td>
            </tr>
            <tr *ngIf="i < listaEmpresas.length - 1">
              <td class="py-2"></td>
            </tr>
          </ng-container>
          <tr *ngIf="listaEmpresas.length === 0">
            <td colspan="4" class="text-center py-4 text-gray-500">No se encontraron empresas.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div class="text-center">
      <nav aria-label="Page navigation example">
        <ul class="inline-flex space-x-2 text-sm">
          <li>
            <a href="javascript:void(0)" class="inline-flex items-center justify-center w-6 h-6 bg-gray-500 rounded-md hover:bg-gray-300 focus:outline-none"(click)="changePage('previous')"[class.opacity-50]="!canGoPrevious()"[class.cursor-not-allowed]="!canGoPrevious()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.707 16.707a1 1 0 01-1.414 0l-8-8a1 1 0 010-1.414l8-8a1 1 0 111.414 1.414L5.414 8H18a1 1 0 010 2H5.414l7.293 7.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                </svg>
            </a>
          </li>
          <ng-container *ngFor="let pageNumber of getPages()">
            <li class="items-center justify-center w-6 h-6 bg-amber-500 rounded-md hover:bg-gray-300 focus:outline-none mx-2">
              <a class="no-underline text-white" href="javascript:void(0)" (click)="changePage(pageNumber)" [class.active]="page === pageNumber">{{ pageNumber }}</a>
            </li>
          </ng-container>
          
          <li>
            <a href="javascript:void(0)" class="inline-flex items-center justify-center w-6 h-6 bg-gray-500 rounded-md hover:bg-gray-300 focus:outline-none" (click)="changePage('next')" [class.opacity-50]="!canGoNext()" [class.cursor-not-allowed]="!canGoNext()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 16.707a1 1 0 001.414 0l8-8a1 1 0 000-1.414l-8-8a1 1 0 10-1.414 1.414L14.586 8H2a1 1 0 100 2h12.586l-7.293 7.293a1 1 0 000 1.414z" clip-rule="evenodd" />
              </svg>
            </a>
          </li>
          
        </ul>
      </nav>
    </div>
  </div>
  
</div>