<app-header [title]="'Bienvenido al panel de empresas'"
[subtitle]="'Aqui podras ver y gestionar tus empresas'"></app-header>

<div class="flex min-h-screen">


    <main class="flex-1 p-10">

        <section class="bg-white mt-4 my-4 xl:p-8 md:p-6 rounded-lg  xl:shadow-lg space-y-8">

            <div class="">
                <h3 class="text-xl mb-4">Líneas</h3>
                <div class="flex flex-wrap sm gap-4 border py-4 px-2 rounded-lg">
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Tecnología xxxxxxx</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Gastronomía </span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Manualidades xxxxxxxxxxxxx</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">cultura xxxxxxxxxxxxx</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Todo xxxxxxxxxxxxx</span>
                    </label>

                </div>
            </div>

            <div>
                <h3 class="text-xl mb-4">Aliados</h3>
                <div class="flex flex-wrap gap-4 border rounded-lg py-4 px-2 my-3">
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>

                </div>
            </div>

            <div>
                <h3 class="text-xl mb-4">Aliados</h3>
                <div class="flex flex-wrap gap-4 border rounded-lg py-4 px-2 my-3">
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">aliados</span>
                    </label>

                </div>
            </div>
            <div>
                <h3 class="text-xl mb-4">Trl</h3>
                <div class="flex flex-wrap gap-4 border rounded-lg py-4 px-2 my-3">
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Trl1</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Trl2</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Trl3</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Trl4</span>
                    </label>
                    <label for="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-sky-400">
                        <span class="ml-2 text-lg">Todos</span>
                    </label>

                </div>
            </div>
            <div class="flex justify-end">
                <button class="mt-4 text-lg px-10 py-2 bg-sky-400 text-white rounded-xl ">Imprimir
                    <fa-icon [icon]="faPrint" class="ml-2 "></fa-icon>
                </button>
            </div>



        </section>

    </main>


</div>