<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<div class="my-swiper-container swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let image of slideImagenes">
      <img [src]="image" class="swiper-slide-img">
    </div>
  </div>
</div>


<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
