
/* NO BORRAR, ESTILOS DEL CARRUSEL*/

.my-swiper-container {
  width: 80%; /* Ancho del contenedor del carrusel */
  height: auto; /* Altura del contenedor del carrusel */
  margin: 0 auto; /* Centrar el carrusel horizontalmente */
  overflow: hidden; /* Ocultar slides adicionales */
  display: flex; /* Utilizar flexbox para centrar el contenido */
  justify-content: center; /* Centrar el contenido horizontalmente */
}

.swiper-slide {
  width: calc((100% - 6px) / 2); /* Ancho de cada slide (incluyendo espacio entre ellos) */
  float: left; /* Hacer que los slides floten a la izquierda */
}

.swiper-slide-img {
  width: 320px; /* Ancho fijo para todas las imágenes */
  height: 150px; /* Altura fija para todas las imágenes */
  object-fit: contain; /* Escalar la imagen manteniendo su relación de aspecto y cubriendo todo el espacio disponible */
}

