<div class="flex justify-end w-full">
  <mat-toolbar class="app-header bg-white flex items-center py-14 md:px-8 justify-between md:w-full">
    <img src="../../../assets/images/logo_sinFondo.png" alt="Logo" class="h-24 w-20 md:w-24 mr-2 md:mr-4 mt-4 md:mt-0">
    <span class="nav-tool-items flex items-center space-x-4 md:space-x-8 mt-4 md:mt-0">
      <a mat-button routerLink="login" routerLinkActive="active"
        class="text-sm md:text-base bg-black text-white rounded-lg">Iniciar Sesión</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active"
        class="text-sm md:text-base bg-blue-400 text-white rounded-lg">Regístrate</a>
    </span>
  </mat-toolbar>
</div>
<hr>
<div class="w-9/12 mx-auto h-52 relative px-12">
  <!-- Botón de flecha izquierda -->
  <button (click)="prevSlide()"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-300 hover:bg-gray-400 text-black font-bold p-3 rounded-full  focus:ring-gray-500">
    &larr;
  </button>

  <!-- Carrusel -->
  <div class="relative overflow-hidden w-full h-full">
    <div class="flex transition-transform duration-500 ease-in-out space-x-0"
      [ngStyle]="{'transform': 'translateX(' + currentTransform + '%)'}">
      <div *ngFor="let card of cards; let i = index"
        class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 flex-shrink-0 flex justify-center items-center h-52"
        (click)="mostrarCard(i)">
        <img [src]="card.logo" class="h-full object-contain">
      </div>
    </div>
  </div>

  <!-- Botón de flecha derecha -->
  <button (click)="nextSlide()"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-300 hover:bg-gray-400 text-black font-bold p-3 rounded-full  focus:ring-gray-500">
    &rarr;
  </button>
</div>

<hr>
<div *ngIf="cardSeleccionada" class="max-w-screen-2xl mx-auto h-3/4 flex m-2">
  <div class="w-full rounded-lg overflow-hidden flex flex-col lg:flex-row">
    <div class="w-full lg:w-3/4 flex flex-col items-center">
      <div class="w-full flex justify-center lg:justify-start mt-4">
        <img [src]="resizedCardImage" alt="ImagenArriba" width="250" height="150" class="max-h-[150px] stroke-current">
      </div>
      <div class="w-full md:p-4 mt-4">
        <p class="text-base leading-normal lg:text-left mx-3">
          {{ cardSeleccionada.descripcion }}
        </p>
      </div>
    </div>
    <div class="w-full lg:w-2/4 lg:mt-4 flex items-center justify-center order-last lg:order-none bg-red-100 ">
      <ng-container *ngIf="cardSeleccionada.tipo_dato === 'video'">
        <!-- Mostrar video -->
        <video controls>
          <iframe width="560" height="315" [src]="getYouTubeEmbedUrl(cardSeleccionada.urlVideo)" frameborder="0" allowfullscreen></iframe>
        </video>
      </ng-container>
      <ng-container *ngIf="cardSeleccionada.tipo_dato === 'pdf'">
        <!-- Mostrar PDF -->
        <embed [src]="cardSeleccionada.urlPdf" type="application/pdf" width="100%" height="600px">
      </ng-container>
      <ng-container *ngIf="cardSeleccionada.tipo_dato !== 'video' && cardSeleccionada.tipo_dato !== 'pdf'">
        <!-- Mostrar mensaje de tipo de dato no compatible -->
        <div class="w-full lg:w-2/4 lg:mt-4 flex items-center justify-center order-last lg:order-none bg-red-100 ">
          <img [src]="cardSeleccionada.logo" alt="ImagenCard">
        </div>
      </ng-container>
    </div>

  </div>
</div>