body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Evita el doble scroll */
}

.banner-swiper-container {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  display: flex;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev {
  left: 6%;
}

.swiper-button-next {
  right: 6%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px;
}

.absolute {
  position: absolute;
  bottom: 10%;
  right: 5%;
  text-align: right;
  color: white;
  max-width: 600px;
  margin-top: -50%;
}

.absolute h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.absolute p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.absolute button {
  background-color: #f97316;
  color: white;
  border-radius: 9999px;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

.absolute button:hover {
  background-color: #ea580c;
}

:host ::ng-deep .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #D1D5DB;
  opacity: 1;
  margin: 0 5px;
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background: #6B7280;
}
