<div class="flex justify-end w-full">
  <mat-toolbar class="app-header bg-white flex items-center px-2 md:px-8 justify-between md:w-full">
    <img src="../../../assets/images/logo_sinFondo.png" alt="Logo" class="h-auto w-16 md:w-24 mr-2 md:mr-4 mt-4 md:mt-0">
    <span class="nav-tool-items flex items-center space-x-4 md:space-x-8 mt-4 md:mt-0">
      <a mat-button routerLink="login" routerLinkActive="active" class="text-sm md:text-base bg-black text-white rounded-lg">Iniciar Sesión</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active" class="text-sm md:text-base bg-blue-400 text-white rounded-lg">Regístrate</a>
    </span>
  </mat-toolbar>
</div>

<div>
  <div class="container relative px-14">
    <!-- Botón de flecha izquierda -->
    <button (click)="prevSlide()" class="carousel-btn left-0">
      &larr;
    </button>
    
    <!-- Carrusel -->
    <div class="relative overflow-hidden w-full mt-4">
      <div class="flex transition-transform duration-500 ease-in-out" [ngStyle]="{'transform': 'translateX(' + currentTransform + '%)'}">
        <div *ngFor="let image of slideImagenes; let i = index" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 flex-shrink-0 flex justify-center items-center h-64" (click)="mostrarCard(i)">
          <img [src]="image" width="800" height="200">
        </div>
      </div>
    </div>
    
    <!-- Botón de flecha derecha -->
    <button (click)="nextSlide()" class="carousel-btn right-0">
      &rarr;
    </button>
  </div>

  <div *ngIf="cardSeleccionada" class="max-w-screen-2xl mx-auto h-3/4 flex mt-2 mb-2 ">
    <div class="w-full mat-elevation-z8 rounded-lg overflow-hidden flex items-center px-10 pb-10 flex-wrap lg:flex-nowrap">
      <div class="w-full lg:w-2/4 mt-4">
        <div class="flex w-64 justify-center">
          <img [src]="resizedCardImage" alt="ImagenArriba" width="250" height="150" class="max-h-[150px] stroke-current">
        </div>
        <div class="md:p-4">
          <p class="text-base leading-normal">
            {{ cardSeleccionada.description }}
          </p>
        </div>
      </div>
      <div class="w-full lg:w-2/4 lg:mt-4 flex items-center justify-center order-last lg:order-none">
        <img [src]="cardSeleccionada.imageUrl" alt="ImagenCard" class="max-w-full h-auto">
      </div>
    </div>
  </div>
  
  
  
</div>
