.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.primary {
  background: #fcfcfc;
}

@media(max-width:30em) {
  .primary {
    background: #04b4ec;
  }
}