<!-- DASHBOARD -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.component.css">
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1 style="margin-bottom: 40px; margin-left: 50px; margin-top: 9px;">Dashboard</h1>

    <hr style="color: #fad700;">
        <!-- DIV GENERAL 1 (Items - contenedores) -->
        <div class="divGrande1">
                <div class="divGrande1-1">
                        <!-- DIV CONTENEDOR 1 (Items 1, 2, 3 y 4) -->
                        <div class="grid-container1">

                                <div class="grid-item1-c1">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../assets/images/logo-item.png" alt="Ícono item">
                                    </div>
                                    <h2>Item 1</h2>
                                    <p class="big-number">120</p>
                                </div>

                                <div class="grid-item2-c1">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../assets/images/logo-item.png" alt="Ícono item">
                                    </div>
                                    <h2>Item 2</h2>
                                    <p class="big-number">20</p>
                                </div>

                                <div class="grid-item3-c1">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../assets/images/logo-item.png" alt="Ícono item">
                                    </div>
                                    <h2>Item 3</h2>
                                    <p class="big-number">120</p>
                                </div>

                                <div class="grid-item4-c1">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="../assets/images/logo-item.png" alt="Ícono item">
                                    </div>
                                    <h2>Item 4</h2>
                                    <p class="big-number">4</p>
                                </div>
                        </div>
                </div>
        </div>

        <!-- DIV GENERAL 2 (Gráfica 1) -->
        <div class="divGrande3">
            <div class="divGrande3-1">
                <div class="divGrafica">
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 style="font-weight: bold;" class="titCard">Gráfica de TRL</h2>
                    </div>
                    <div style="margin-left: 20px; text-align: center;">
                        <div style="display: block; margin-bottom: 20px; margin-right: 20px;">
                            <canvas baseChart
                                    [data]="asesoresData"
                                    [options]="pieChartOptions"
                                    [type]="barChartType"
                                    [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIV GENERAL 3 (Gráfica 2) -->
            <div class="divGrande4">
                <div class="divGrafica">
                    <div style="text-align: left; margin-left: 20px;">
                        <h2 style="font-weight: bold;" class="titCard">Solicitudes</h2>
                    </div>
                    <div style="margin-left: 20px; text-align: center;">
                        <div style="display: block; margin-bottom: 20px; margin-right: 20px;">
                            <canvas baseChart
                                    [data]="asesoresData"
                                    [options]="pieChartOptions"
                                    [type]="barChartType"
                                    [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIV GENERAL 4 (Gráfica 3) -->
                <div class="divGrande2">
                        <div class="divGrafica">
                            <div style="text-align: left; margin-left: 20px;">
                                <h2 style="font-weight: bold;" class="titCard">Solicitudes por género</h2>
                            </div>
                            <div style="margin-left: 20px; text-align: center;">
                                <div style="display: block;">
                                    <canvas baseChart
                                            [data]="pendientesFinalizadasData"
                                            [options]="pieChartOptions"
                                            [type]="pieChartType"
                                            [legend]="pieChartLegend">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                </div>
    </div>

</body>
</html>
  