<div class="container mt-[200px] mx-auto p-4 w-[90%] md:w-[70%] lg:w-[60%] border rounded-[18px] bg-white">

    <!-- Contenedor del título y texto -->
    <div class="mt-[30px] ml-[15px] md:ml-[5%] lg:ml-[15px] w-[100%] lg:w-[50%] pr-2">
      <h1 class="mb-0 font-bold" >Kickoff</h1>
      <h3 class="italic">(evento IMPRENDE)</h3>
      <p class="mb-4 leading-relaxed text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
         Quas optio fugit, omnis consectetur cum veritatis 
         veniam velit incidunt magnam natus sit delectus officiis officia at? Consectetur aliquam eos non nulla!
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
         Quas optio fugit, omnis consectetur cum veritatis 
         veniam velit incidunt magnam natus sit delectus officiis officia at? Consectetur aliquam eos non nulla!</p>
        <button class="py-2 px-4 mt-[8px] bg-[#FA7D00] text-lg text-white font-bold rounded-md transition duration-300">
            Ir a Módulo
        </button>
    </div>

    <!-- Contenedor de la imagen -->
    <div class="mt-8 lg:mt-[-28%] ml-0 lg:ml-[60%] flex justify-center ">
        <img src="/assets/images/imagenruta.jpg" alt="imagen prueba" class="h-[350px] rounded-tr-[25px] rounded-tl-[100px] rounded-bl-[25px] rounded-br-[100px]">
    </div>

    
</div>
