<app-header [title]="'Bienvenido al panel de aliados'"
    [subtitle]="'Aqui podras ver y gestionar tus aliados'"></app-header>

    <div class="flex justify-between mb-4">
        <h1 class="text-3xl font-bold mb-4">Bienvenido al panel de Aliados</h1>
        <div class="flex-2"> 
                  <div class="justify-end ">
                       <button class="mr-2 bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
                            + </button>
                  </div>
             </div>      
   </div>  
<div class="flex justify-center items-center h-full md:w-full">
    <div class="justify-center items-center w-4/6 max-md:w-72">
        <div class="headers md:flex md:justify-between md:mb-6 pl-8 pr-8 md:w-auto">
            <h2 class="hidden md:block md:w-28 whitespace-nowrap overflow-hidden text-center font-bold">Nombre</h2>
            <h2 class="hidden md:block md:w-24 whitespace-nowrap overflow-hidden text-center font-bold pl-3">Correo
            </h2>
            <h2 class="hidden md:block md:w-56 whitespace-nowrap overflow-hidden text-center font-bold md:ml-2 ">
                Emprendedores
            </h2>
            <h2 class="hidden md:block md:w-auto whitespace-nowrap overflow-hidden text-center font-bold md:pr-7">
                Estado
            </h2>
            <h2 class="hidden md:block  whitespace-nowrap overflow-hidden text-center font-bold"></h2>
        </div>
        <div class="contenido">
            <div *ngFor="let aliados of listaAliado  | paginate: { itemsPerPage: 5, currentPage: page }"
                class="info-empresa  max-md:h-auto md:w-auto md:flex justify-between text-center mb-4 md:py-4 max-md:pl-3 bg-neutral-200 rounded-md">
                <div class="flex max-md:pt-3 px-2 max-md:h-10 md:w-auto">
                    <div class="max-md:flex">
                        <h3 class="block md:hidden mr-1 font-bold ">Nombre: </h3>
                        <h3 class="md:w-32 max-md:w-32 whitespace-nowrap overflow-hidden max-md:h-6 text-start md:pl-4 md:pt-2"
                            style="text-overflow: ellipsis;">
                            {{aliados.nombre }}</h3>
                        <fa-icon [icon]="faeye"
                            class=" text-xl right-5 top-1/2 transform -translate-y-1/2 max-md:h-5 md:hidden pl-8 pt-2 "></fa-icon>
                    </div>
                </div>
                <div class="flex px-2 max-md:h-7 md:w-auto">
                    <h3 class="block md:hidden mr-1 font-bold ">Correo: </h3>
                    <h3 class="md:w-32 whitespace-nowrap overflow-hidden max-md:h-6  md:pt-2"
                        style="text-overflow: ellipsis;">
                        {{aliados.email}}</h3>
                </div>
                <div class="flex  px-2 max-md:h-8">
                    <h3 class="block md:hidden mr-1 font-bold ">Emprendedores: </h3>
                    <h3 class="md:w-14 md:pr-2 whitespace-nowrap overflow-hidden max-md:h-6  md:pt-2"
                        style="text-overflow: ellipsis;"> 1234
                    </h3>
                </div>
                <div class="flex  px-2 max-md:h-8">
                    <h3 class="block md:hidden mr-1 font-bold ">Estado: </h3>
                    <h3 class="md:w-20 whitespace-nowrap overflow-hidden max-md:h-6 md:pt-2 md:pl"
                        style="text-overflow: ellipsis;">
                        {{aliados.estado_usuario }}</h3>
                </div>
                <div class="flex justify-center  px-2 md:w-20">
                    <h3 class="block md:hidden"></h3>
                    <h3 class="md:w-11  md:pr-16 max-md:absolute max-md:right-56 md:pt-2">
                        <fa-icon [icon]="faeye"
                            class=" text-xl right-5 top-1/2 transform -translate-y-1/2 max-md:h-5  max-md:hidden  "></fa-icon>
                    </h3>
                </div>

            </div>

            <div class="text-center max-md:pr-10">
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                    nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>