<app-header [title]="'Bienvenido al panel de Agregar Aliados'"
  [subtitle]="'Aquí puedes crear tus aliados'"></app-header>
<div class="w-full flex items-center justify-center min-h-[calc(100vh-128px)] ">

  <form (ngSubmit)="onSubmit()" class="flex  justify-center w-full">
    <div class="flex flex-wrap justify-center w-full">


      <div class="mx-10 mb-4 ">
        <!-- contenedor de columna 1 -->
        <div class="flex items-center flex-wrap justify-center mb-6">
          <div class="relative">
            <div
              class="w-52 h-52 flex items-center justify-center border overflow-hidden mb-2 rounded-full border-x-gray-900 cursor-pointer">
              <img *ngIf="logo" [src]="logo" alt="Logo" class="object-cover">
              <span *ngIf="!logo" class="text-gray-500">Click aca!</span>
              <input id="logoInput" type="file" (change)="onFileSelected($event)" accept="image/*"
                class="absolute inset-0 opacity-0 cursor-pointer">
            </div>
          </div>
        </div>
        <div class="space-y-8">
          <div class="relative mt-9 mb-4">
            <input type="text"
              class="peer rounded-xl outline-none w-full border py-3 px-4 text-base focus:ring-0 bg-transparent focus:outline focus:border-blue-500 focus:placeholder-transparent"
              placeholder="Nombre">
            <label
              class="absolute top-[-1.2rem] left-3 text-sm text-blue-400 transition-all  peer-placeholder-shown:text-[0px] peer-focus:top-[-1.2rem]   peer-focus:text-sm peer-focus:text-blue-500 peer-focus:text-opacity-100  peer-placeholder:text-[0px]">
              Nombre:
            </label>
          </div>
          <div class="relative mt-9 mb-4">
            <input type="text"
              class="peer rounded-xl outline-none w-full border py-3 px-4 text-base focus:ring-0 bg-transparent focus:outline focus:border-blue-500 focus:placeholder-transparent"
              placeholder="Correo">
            <label
              class="absolute top-[-1.2rem] left-3 text-sm text-blue-400 transition-all  peer-placeholder-shown:text-[0px] peer-focus:top-[-1.2rem]   peer-focus:text-sm peer-focus:text-blue-500 peer-focus:text-opacity-100  peer-placeholder:text-[0px]">
              Correo:
            </label>
          </div>

          <div class="relative mt-9 mb-4">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
              class="peer rounded-xl outline-none w-full border py-3 px-4 text-base focus:ring-0 bg-transparent focus:outline focus:border-blue-500 focus:placeholder-transparent"
              placeholder="Contraseña">
            <label for="password"
              class="absolute top-[-1.2rem] left-3 text-sm text-blue-400 transition-all peer-placeholder-shown:text-[0px] peer-focus:top-[-1.2rem] peer-focus:text-sm peer-focus:text-blue-500 peer-focus:text-opacity-100 peer-placeholder:text-[0px]">
              Contraseña
            </label>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide" class="absolute right-3 top-1/2 transform -translate-y-1/2">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>

      </div>

      <!-- contenedor de textarea y descripciones fanpague -->

        <div class="space-y-8 max-lg:w-9/12">
          <div class="relative w-full">
            <textarea
              class=" h-40  peer rounded-xl outline-none w-full border py-3 px-4 text-base focus:ring-0 bg-transparent focus:outline focus:border-blue-500 focus:placeholder-transparent resize-none"
              placeholder="Descripcion fanpage"></textarea>
            <label
              class="absolute top-[-1.2rem] left-3 text-sm text-blue-400 transition-all  peer-placeholder-shown:text-[0px] peer-focus:top-[-1.2rem]   peer-focus:text-sm peer-focus:text-blue-500 peer-focus:text-opacity-100  peer-placeholder:text-[0px]">
              Descripcion fanpage:
            </label>
          </div>

        </div>
        <h3 class="mx-10">Este es el apartado para agregar aliado,actualmente no esta configurado, se piden los siguientes campos ,nombre,correo,contraseña, descripcion para fan pague,seleccionable de tipo de dato en la ruta multimedia,ruta multimedia que puede corresponnder a imagen o video</h3>


    </div>





    <!-- Boton de crear el aliado -->
    <!-- <div class="mt-3">
      <button type="submit"
        class="bg-sky-400 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Crear
        Aliado</button>
    </div> -->

    <!-- <p class="flex items-center gap-1 mt-2 font-sans text-sm antialiased font-normal leading-normal text-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 -mt-px">
        <path fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
          clip-rule="evenodd"></path>
      </svg>
      Use at least 8 characters.
    </p> -->

  </form>
</div>