<app-header [title]="'Bienvenido al panel de Agregar Aliados'"
      [subtitle]="'Aquí puedes crear tus aliados'"></app-header>

<div class="max-w-screen-2xl mx-auto flex justify-center mt-5 mb-5">
  <div class="w-full bg-white rounded-lg overflow-hidden p-6 sm:p-6">
    <div class="flex flex-col items-center justify-start">
      <form (ngSubmit)="onSubmit()" class="flex flex-col items-center w-full max-w-4xl">

        <!-- Row for Logo and Placeholders -->
        <div class="flex flex-col sm:flex-row items-center w-full mb-6 gap-8">
          <div class="flex flex-col items-center sm:items-start mb-6 sm:mb-0 sm:mr-8">
            <div class="w-32 h-32 flex items-center justify-center border overflow-hidden mb-2 rounded-full border-black">
              <img *ngIf="logo" [src]="logo" alt="Logo" class="object-cover w-full h-full">
              <span *ngIf="!logo" class="text-gray-500">Logo</span>
            </div>
            <label for="logoInput" class="bg-sky-400 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded cursor-pointer">
              Seleccionar Imagen
            </label>
            <input id="logoInput" type="file" (change)="onFileSelected($event)" accept="image/*" class="hidden">
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full">
            <div class="flex flex-col items-center sm:items-start w-full">
              <p class="font-semibold text-sky-400 text-lg">Nombre del Aliado</p>
              <div class="mt-2 rounded-xl border-black py-3 px-4 text-base form-control w-full">
                <input [(ngModel)]="nombre" name="nombre" class="w-full outline-none" placeholder="Nombre" required />
              </div>
            </div>
            <div class="flex flex-col items-center sm:items-start w-full">
              <p class="font-semibold text-sky-400 text-lg">Descripción del Aliado</p>
              <div class="mt-2 rounded-xl border-black py-3 px-4 text-base form-control w-full">
                <input [(ngModel)]="descripcion" name="descripcion" class="w-full outline-none" placeholder="Descripción" required />
              </div>
            </div>
            <div class="flex flex-col items-center sm:items-start w-full">
              <p class="font-semibold text-sky-400 text-lg">Correo del Aliado</p>
              <div class="mt-2 rounded-xl border-black py-3 px-4 text-base form-control w-full">
                <input [(ngModel)]="email" name="email" class="w-full outline-none" placeholder="Correo" required />
              </div>
            </div>
            <div class="flex flex-col items-center sm:items-start w-full">
              <p class="font-semibold text-sky-400 text-lg">Contraseña del Aliado</p>
              <div class="mt-2 rounded-xl border-black py-3 px-4 text-base form-control w-full relative">
                <input [(ngModel)]="password" [type]="passwordFieldType" name="password" class="w-full outline-none" placeholder="Contraseña" required />
                <span class="mat-mdc-button-touch-target" (click)="togglePasswordVisibility()" style="position: absolute; right: 2px; top: 2px;">
                  <i [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}"></i>
                </span>
              </div>
            </div>
            <div class="flex flex-col items-center sm:items-start w-full">
              <p class="font-semibold text-sky-400 text-lg">Ruta del Aliado</p>
              <div class="mt-2 rounded-xl border-black py-3 px-4 text-base form-control w-full">
                <input [(ngModel)]="ruta" name="ruta" class="w-full outline-none" placeholder="Ruta" required />
              </div>
            </div>
            <div class="flex flex-col items-center sm:items-start w-full">
              <p class="font-semibold text-sky-400 text-lg">Estado del Aliado</p>
              <div class="mt-2 rounded-xl border-black py-3 px-4 text-base form-control w-full">
                <input [(ngModel)]="estado" name="estado" type="hidden" value="1">
                <input disabled class="w-full outline-none bg-white text-gray-500" placeholder="Estado" value="ACTIVO"> 
              </div>
            </div>
          </div>
        </div>

        <div class="w-full flex justify-end mt-5">
          <button type="submit" class="bg-sky-400 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Enviar</button>
        </div>

      </form>
    </div>
  </div>
</div>
