/* Estilos generales de la tarjeta */
.card {
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover:not(.no-hover) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Estilos de los botones que aparecen al hacer hover */
.hover-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  margin-top: 20px;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.card:hover:not(.no-hover) .hover-buttons {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

/* Estilos base de los botones */
.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos específicos para el botón aceptar */
.btn-aceptar {
  background-color:   #bcbcbc ; /* Color predeterminado */
  color: white;
}

.btn-aceptar:hover,
.btn-aceptar:focus,
.btn-aceptar:active {
  background-color:   #bcbcbc ; /* Color al hacer hover/click */
  color: white;
}

/* Estilos específicos para el botón rechazar */
.btn-rechazar {
  background-color:  #0cb4ec; /* Color predeterminado */
  color: white;
}

.btn-rechazar:hover,
.btn-rechazar:focus,
.btn-rechazar:active {
  background-color: #0cb4ec; /* Color al hacer hover/click */
  color: white;
}
:focus {
  outline: none;
}

/* Estilo específico para los botones y campos de entrada */
.btn:focus,
input:focus {
  outline: none;
}
