<div class="p-4 bg-white" [formGroup]="asignarForm">
  <div>
    <h2>Detalles de la Asesoría</h2>
    <p><strong>Nombre:</strong> {{ data.asesoria.Nombre_sol }}</p>
    <p><strong>Fecha de Solicitud:</strong> {{ data.asesoria.fecha_solicitud }}</p>
    <p><strong>Notas:</strong> {{ data.asesoria.notas }}</p>
    <!-- Agrega más campos según sea necesario -->
  </div>
  <div class="rounded-xl pb-2 w-4/6 justify-start text-center" id="nomAliadoContainer">
    <label class="mb-1">¿Con quién quiere la asesoría?</label>
    <select formControlName="nom_asesor" class="w-3/6 outline-none h-auto text-start border rounded-md px-2 py-2 bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
      <option value="" disabled selected hidden>Seleccione</option>
      <option *ngFor="let asesor of asesores" [value]="asesor.id_asesor">{{ asesor.nombre_completo }}</option>
    </select>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="bg-red-500">Cancelar</button>
    <button mat-button class="bg-sky-500" type="submit" (click)="onGuardar()">Guardar</button>
  </div>
</div>
