<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<app-header [title]="'Panel de Asesorias'"
    [subtitle]="'Aca podra ver un listado de Asesorias y asignarla a distintos aliados'"></app-header>

<div class="flex flex-col space-y-4 mb-4 px-4 sm:px-14">

<!-- Contenedor principal -->
  <div class="flex flex-col md:flex-row items-center justify-between space-y-4  md:space-y-0 md:space-x-4 border border-gray-300 rounded-2xl p-2 bg-white transition duration-200">

    <!-- Botones de filtro -->
    <div class="flex flex-wrap items-center justify-center md:justify-start space-x-2 md:space-x-4 w-full md:w-auto"> 
    <button id="sinAsignar" class="btn-color flex items-center px-4 py-2 text-gray-800 hover:bg-blue-200 rounded-md transition duration-200 focus:outline-none ease-in-out hover:shadow-md" (click)="filterAsesorias(false)">
      Sin asignar
      <span class="bg-blue-200 text-blue-700 rounded-full w-6 h-6 flex items-center justify-center ml-2">{{ asesoriasSinHorario.length }}</span>
    </button>

    <button id="Asignadas" class="btn-color flex items-center px-4 py-2 text-gray-800 hover:bg-blue-200 rounded-md transition duration-200 focus:outline-none ease-in-out hover:shadow-md" (click)="filterAsesorias(true)">
      Asignadas
      <span class="bg-blue-200 text-blue-700 rounded-full w-6 h-6 flex items-center justify-center ml-2">{{ asesoriasConHorario.length }}</span>
    </button>
  </div>
    <!-- Barra de búsqueda -->
  <div class="relative flex-grow max-w-full md:max-w-md border-l-2 mt-4 md:mt-0">
    <span class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-500">
      <i class="fas fa-search text-sky-500"></i>
    </span>
    <input type="text" placeholder="Buscar" [(ngModel)]="userFilter.Nombre_sol"
      class="w-full h-12 pl-12 pr-4 border-none outline-none focus:border-sky-300 transition duration-200">
  </div>
</div>
</div>

<div class="flex flex-wrap justify-center mt-6">
  <ng-container *ngIf="showFalse">
    <div *ngIf="asesoriasSinHorario.length === 0" class="text-center text-gray-500 mt-6">
      No tienes asesorias pendientes por asignar.
    </div>
       <!-- Contenedor de la card -->
   <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
    <div *ngFor="let asesoria of asesoriasSinHorario|filterBy:userFilter" class="relative bg-white rounded-xl shadow-lg overflow-hidden transition-transform transform hover:-translate-y-1 hover:shadow-xl" (click)="openModal(asesoria)">
      <div class="absolute h-full w-2 bg-green-500"></div>
      <div class="p-4">
        <h2 class="text-lg font-bold h-[3.3rem] overflow-hidden text-ellipsis">{{ asesoria.Nombre_sol }}</h2>
        <div class="block w-full h-[3.7rem] text-gray-900 focus:outline-none resize-none overflow-hidden text-ellipsis mb-3" title="{{ asesoria.notas }}">{{ asesoria.notas }}</div>
        <p class="text-sm text-gray-700 mb-2"><strong>Emprendedor: </strong>{{ asesoria.nombre }} {{ asesoria.apellido }}</p>
        <p class="text-sm text-gray-700 mb-2"><strong>Celular: </strong>{{ asesoria.celular }}</p>
        <p class="text-sm text-gray-700 mb-2"><strong>Correo: </strong>{{ asesoria.correo }}</p>
      </div>
    </div>
    </div>
  </ng-container>


  <ng-container *ngIf="showTrue">
    <div *ngIf="asesoriasConHorario.length === 0" class="text-center text-gray-500 mt-6">
      Aun no asignas aliado a ninguna asesoria.
    </div>
    <div *ngFor="let asesoria of asesoriasConHorario|filterBy:userFilter" class="relative bg-white rounded-xl shadow-lg overflow-hidden transition-transform transform hover:-translate-y-1 hover:shadow-xl" (click)="openModal(asesoria)">
      <div class="absolute h-full w-2 bg-red-500"></div>
      <div class="p-4">
        <h2 class="text-lg font-bold h-[3.3rem] overflow-hidden text-ellipsis">{{ asesoria.Nombre_sol }}</h2>
        <div class="block w-full h-[3.7rem] text-gray-900 focus:outline-none resize-none overflow-hidden text-ellipsis mb-3" title="{{ asesoria.notas }}">{{ asesoria.notas }}</div>
        <p class="text-sm text-gray-700 mb-2"><strong>Emprendedor: </strong>{{ asesoria.nombre }} {{ asesoria.apellido }}</p>
        <p class="text-sm text-gray-700 mb-2"><strong>Celular: </strong>{{ asesoria.celular }}</p>
        <p class="text-sm text-gray-700 mb-2"><strong>Correo: </strong>{{ asesoria.correo }}</p>
        <p class="text-sm text-gray-700 mb-2"><strong>Fecha: </strong>{{ asesoria.fecha_asignacion }}</p>
      </div>
    </div>
  </ng-container>
</div>

